/* @import "/typetravel/styles/themes/components/dropdown.css";
@import "/typetravel/styles/themes/components/sizingNavbar.css"; */
/* @import "/typetravel/styles/home.css"; */

@font-face {
  font-family: 'canterbury';
  src: url(../fonts/Canterbury.ttf);
}

@font-face {
  font-family: 'carolingia';
  src: url(../fonts/carolingia.ttf);
}

@font-face {
  font-family: 'scribish', serif;
  src: url(../fonts/scribish.ttf);
}


body{
  font-family: 'carolingia', sans-serif;                                        
}


.glitch-bloc{
  font-family: 'scribish', serif;
}

.d-grip{
  font-family: 'scribish';
}

#disclaimer:hover.dropdown-toggle{
  color:#260d0e;
}
.modal-dialog{
  max-width: 100vh ;
}
.modal-title{
  font-family: 'scribish';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}
.modbod{
  font-size: 2rem;
  font-family: 'canterbury';
  text-align: center;
  margin-top: 1rem;
  font-weight: 100;
  color:#260d0e;
}
.modbod:hover{
  background-color: white!important;
}
.modal-header, .discl-basic .modal-footer{
  background-color: #9b3133;
}

.modal-footer, .btn{
border: none;
color:#000000;
}

#ref{
  font-family:'canterbury';
  color:#260d0e;
  font-size: x-large;
}
#but{
  font-family:'scribish' ;
}
.fab-content, .fab-shadow, .sub-button, .fab{
  background-color:#9b3139;
  color: white;
}
.btn:active{
  color:white;
}
.btn:hover{
    background-color:#260d0e;
    color:white;
}
.row{
  padding:0;
}
h2{
    font-family: 'scribish', serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
    color: #732627;
    font-size: 10vh;
    font-weight: 600;
}

/*LINKS, SELECTION, CODE*/
a {
    color: black;
}
a:hover{
  color:#9b3139;
}


::selection{
    background-color: #9b3133;
    color: white;
}

code{
    color:white;
}

  
/*NAVBAR*/
.navbar{
  font-family: 'canterbury', serif;
    /* text-transform: lowercase; */
    font-weight: 300;
    background-color:#9b3133;
}

.nav-active {
    box-shadow: 5px -1px 12px -5px white;
    backdrop-filter: blur(7px);
    background-color: white;
}
.dropdown-menu:hover{
  background-color: #9b3139;
  border-color: #4c1a1b;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link{
    font-size: 4rem;
}
.nav-item, .nav-link{
  font-size: x-large;
} 
.navbar-dark .navbar-brand{
    font-size: 4vh;
    color:#260d0e;
}


.dropdown-menu{
  background-color: #260D0E;
  color: #4c1a1b;
}

.dropdown-item:hover{
    color: #9b3133;
}
.dropdown-item{
  font-size: x-large;
  color:#260D0E;
}

.navbar-toggler-icon{
  transition: background-color .5s;}


#plague{
  padding-top: 2rem;
}

  #mod{
    font-family:'scribish';
  }
  
 .container-fluid:hover, .row:hover{
    background-color: #9b3139;
  }
  #pur{
    padding:2rem;
    margin-top:2rem;
  }

/*FIRST*/
#first{
    background-color: #260d0e !important;
}

#first h1{
    padding-top: 16vh ;
    
    text-transform: uppercase;
    color: #260d0e;
    text-align: center;
    font-weight: 500;
    font-size: 16vh;
}

#first #travel{
    margin-left: -1rem !important;
}


#first h2{
    font-size: 5vh;
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    color:#732627;
}

#project-description{
    opacity: 0.5;
    font-size: 4vh;
    padding-top: 2vh;
    text-align: center;
    color: #260d0e;
}

#icon{
    padding: 10vh;
    background-image: url("/typetravel/images/icons/start.svg");
    background-size: 15vh;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center !important;
    text-decoration: none;
}

#icon:hover{
    background-image: url("/typetravel/images/icons/start-hov.svg");
    background-color: transparent;
}

#get-started-btn-1{
  padding-top: 4rem;
  display: none;
}

/*SECOND*/
#second, #gosecond{
    background-color: #4c1a1b !important;
}

#about-proj{
    padding: 0 5rem 0 5rem;
    text-align: center;
    font-size: 3.5vh;
    color: white;
}


#btn-issues, #btn-themes{
    background-color: white;
    font-family: 'Slippery Dip', sans-serif;
    color: #4c1a1b;
    border-radius: 0;
    border: none;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 4vh;
    margin-top: 3rem !important;
    margin-left: -0.5rem!important;
}
.btn{
  color: #9b3133;
}

#btn-themes{
    background-color: #260d0e;
    color: #4c1a1b;
    font-family: 'Slippery Dip', sans-serif;
    border-radius: 0;
    border: none;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 4vh;
    margin-top: 3rem !important;
    margin-right: -0.5rem !important;
}
.c-right {
  color: white;
}

/*THIRD*/
#third{
    background-color: #4c1a1b;
    font-size: 5.5vh;
}

#gothird{
    background-color: #000000;
}

.btn-third{
    font-family: 'canterbury', sans-serif;
    background-color: #000000;
    border-radius: 0;
    border: none;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 4vh !important;
}
.btn-third:first-child{
    margin-right: -0.5rem!important;
    margin-left: -13rem !important;
}

#third .card-body img{
    height: 25vh !important;
}

#third .card-body .btn:hover{
    background: none !important;
}

#third p{
    /* padding: 0.5rem 2rem 0.5rem 2rem!important; */
    font-size: 2.5vh;
    text-align: center;
}

#third #themes-text{
    /* margin: 1rem 0 1rem 0; */
    color: #000000;
}

#card-renaissance .btn-doc{
    margin-top: 0.5rem !important;
    font-size: 4vh;
}

#card-renaissance .btn-doc:hover{
    color: #535353;
}

#card-secession .btn-doc{
    margin-top: 1rem !important;
    padding: 2vh;
    color: #e08e1d;
    font-size: 4.5vh;
}

#card-secession .btn-doc:hover{
    color: #5a4120;
}

#card-1980s .btn-doc{
    margin-top: 1rem !important;
    padding: 2vh;
    font-size: 5vh;
}

#card-1980s .btn-doc:hover{
    /* color: #2d1c55; */
}

#card-future .btn-doc{
    margin-top: 1rem !important;
}

#card-future .btn-doc:hover{
    /* color: #818181; */
}

/*FOURTH*/

#theme1,#theme2,#theme3,#theme4,#theme5{
   
    margin-top: 5em;
    margin-left: 12em;
  

}

#gofourth{
    background-color:white;
}

#fourth{
    background-color:#4c1a1b;
}

#fourth h2{
    color: white;
}

#issue-text{
    padding: 0 10rem 0 10rem;
    text-align: center;
    font-size: x-large;
}

.issue {
    cursor: pointer;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#card-iss1 .fadedbox{
    background-color:#9b3133;
}  

#card-iss2 .fadedbox{
    background-color:#9b3133;
    font-size: 4.5vh;
}



.issue:hover .fadedbox {
    opacity: 1;
}
.issue .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    color: black;
}
.issue .title {
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.issue:hover .title,
.issue:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}





/* Glitch effect */


.glitchedAnim,
.invisible-text {
  font-size: 150px;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
  margin-top: 1.5em;
}
.glitchedAnim {
  position:absolute;
  top: 0;
  opacity: 0.9;
}
.invisible-text {
  visibility: hidden;
}
.glitchedAnim:nth-child(2) {
  color: #fc2424;
  animation: skewAnim 3s infinite;
}
.glitchedAnim:nth-child(3) {
  color: #e1b943;
  animation: glitchAnim2 3s infinite;
}
.glitchedAnim:nth-child(4) {
  color: #f1f1f1;
  animation: glitchAnim1 3s infinite;
}
.txt-info {
  font-family: 'Bertholdr Mainzer Fraktur', sans-serif;
  color: #f1f1f1;
  font-size: 10px;
}
@keyframes glitchAnim1 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(6px, -2px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(-12px, -7px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: translate(10px, -9px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(7px, 5px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes glitchAnim2 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(-6px, 2px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(12px, 7px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: translate(-10px, 9px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(-7px, 5px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes skewAnim {
  20% {
    transform: none;
  }
  23% {
    transform: skew(5deg, -5deg) translate(10px, 5px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: skew(5deg, -10deg) translate(-5px, 2px);
  }
  46% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

/*IMAGES*/
#fourth .card{
    height: auto;
    /* margin: 2em;
    margin-top: 2em; */
    border: none;
    border-radius: 0;
}

/*FOOTER*/
footer{
    background-color: #260D0E;
    font-family: 'canterbury';
    color:white;
    text-align: center;
    font-weight: 100;
    font-size: x-large;
}  

footer p, .contacts, #discl, #cp{
    font-size: 2.5vh !important;
    
}


.info-footer, .contacts{
    width: 100% !important;
}

footer p{
    text-align: center;
    padding-left: 0;
    font-weight: 100;
}

#cp{
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
}





:root{
    --time-color: black;
    --time-transition: ease-in-out 0.3s;
}

@media (max-width: 768px){
    .btn-third{
        font-size: 3vh !important;
        margin-left: 1rem !important;
    }
    .btn-third:first-child{
        margin-left: 1rem !important;
        padding-top: 1rem;
    }
}
#navbarDropdownMenuLink{
  background-color: #9b3139;
}
.navbarDropdownMenuLink:active{
  background-color: #9b3133;
}
.dropdown-item:hover{
  background-color: #4c1a1b;
}
.dropdown-item:active{
  background-color:#9b3133;
}
.dropdown-item{
  color:#000000;
}
@media (max-width: 992px){
    /*NAVBAR*/
    .navbar .collapse{
        
        border-top: none;
    }
    #first h1{
        font-size: 8vh !important;
    }
    #first #travel{
        margin-left: -1rem !important;
    }
    #first h2{
        font-size: 3.5vh;
    }
    #project-description{
        font-size: 3.5vh !important;
        color:#4c1a1b;
    }
}


@media (min-width: 768px) and (max-width: 992px){
    #about-proj p{
        font-size: 3vh;
    }
    .issue-description{
        font-size: 2.5vh !important;
        padding-bottom: 0.5rem !important;
    }
}


@media (min-width: 992px) and (max-width: 1200px){
    .issue-description{
        font-size: 2.5vh !important;
        padding-bottom: 0.5rem !important;
    }
}




/* ABOUT US */


.about-content{

margin-top: 4em;

}

img{
    height: 40vh;
    margin: 1.5rem;
}
