/* @import "/typetravel/styles/themes/components/dropdown.css";
@import "/typetravel/styles/themes/components/sizingNavbar.css"; */
/* @import "/typetravel/styles/home.css"; */


/*FONTS*/
@font-face {
  font-family: 'hotel';
  src: url(../fonts/HotelDesArts1929.ttf);
}

@font-face {/*for body-text*/
  font-family: 'bembo';
  src: url(../fonts/ajensonpro-regular.otf);
}


/*RELATIVE*/
   /*documentation*/
/*@media (max-width: 680px){
  #navbardoc{
      display: none !important;
  }
  #main-doc{
        grid-area: main-body !important;
        padding-left: 1em !important;
  }
  .main-body {
        /* display: none !important; mancano parentesi finali */


/*@media (min-width: 768px) and (max-width: 992px){
  #about-proj p{
      font-size: 3vh;
  }
  .issue-description{
      font-size: 2.5vh !important;
      padding-bottom: 0.5rem !important;
  }
}*/

@media (max-width: 992px){
  /*INDEX RELA*/

#first h1{
  font-size: 7.5rem !important;
}
/*ABOUT US RELA*/
/* non funziona .thumbnail p{
  font-size: 0.7rem;
}*/


  /*DOCUMENTATION RELA*/
#navbardoc{
    display: none !important;
}

#main-doc {
  /* grid-area: mainContent; */
  padding-left: 0em !important;
}

.doc-img{
  width: 10em !important;
  height: 10em !important;
}

#main-doc p{
  font-size:0.5em;
}
#main-doc h5{
  font-size:0.8em;
}
#mainheader h2{
  margin-left: 0;
}


/*TOPIC RELA */
#btn_1{
  font-size: 0.7rem !important;
}

#peoples-tab, #places-tab ,#events-tab ,#concepts-tab,#opinions-tab {
  background-image: none !important;
  font-size: 1rem !important;
}

.nav-item{
  font-size: 0.9rem !important;
} 

.form-check-input{
  font-size: 0.5em !important;
}

.list_btn {
  font-size: 1rem !important;
}

  /*SELECTOR RELA*/
  .fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-12vh) !important;
  }
  .fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-24vh) !important;
  }
  .fab-container:hover .sub-button:nth-child(4) {
    transform: translateY(-36vh) !important;
  }
  .fab-container:hover .sub-button:nth-child(5) {
    transform: translateY(-48vh) !important;
  }
  .fab-container:hover .sub-button:nth-child(6) {
    transform: translateY(-60vh) !important;
  }
  .fab-container:hover .sub-button:nth-child(7) {
    transform: translateY(-72vh) !important;
  }

  .btn-third{
      font-size: 3vh !important;
      margin-left: 1rem !important;
  }
  .btn-third:first-child{
      margin-left: 1rem !important;
      padding-top: 1rem;
  }

}



/*NAVBAR*/
#navbar{
  font-family: 'hotel', serif;
    /* text-transform: lowercase; */
    /*font-weight: 300;*/
    background-color:#d8ccba;
    /* width:100%; */
}

.nav-link{
  font-size: 1.5rem;
}

#navbarDropdownMenuLink, #navbarDropdownMenuL, #navbarDropdownMenuLi, #navbarDrop, #navbarDropp{ /*topic and themes*/
  font-size: 1.5rem;
  background-color: #d8ccba;
  color:black;
}

.dropdown-menu{
  background-color:#d8ccba;
  color: black;
  border-radius: 0.5rem;
}

.dropdown-item{
  font-size: 1.5rem;
  color:black;
  cursor:pointer;
}

.dropdown-item:hover{
  background-color: #4c1a1b;
  color:#c9b080;
}

/* non esiste 
#pur{
  padding:2rem;
  margin-top:2rem;
}
*/
/*END NAVBAR*/

/*DISCLAIMER*/

#disclaimer, #disclaim, #discl, #dis{

  background-image:  url(../../images/disclaimerwall.jpg);

}
.modal-content {
  background-color: #d8ccba;
}

.btn-close{ /*nascondo x in alto perchè c'è già close in basso*/
  display:none;
}
/*#mod{ 
  background-color: #242222;
  color: #d8ccba;
  font-family: hotel;
}*/

#disclaimer{
  justify-content: center;
  text-align: center;
}

.modbod{
  font-size: 1.5rem;
  font-family: 'hotel';
  /* text-align: center; */
  margin: 1rem;
  /*font-weight: 100;*/
  color:#242222;
}

.modal-dialog{
  max-width: 100vh ; /*vh	Relative to 1% of the height of the viewport*/
}

.modal-title{
  font-family: 'hotel';
  text-transform: uppercase;
  font-size: 3rem;
}

/*.modal-title::after{
  content: url(../../images/wine.gif);
    margin: auto;
    width: 10%;
    height: 10%;
 }*/

.modal-header,.modal-footer{
  background-color: #c9b080;
}

#butto, #butt, #but{  /*CLOSE butto for index, but for doc and topic, butt for about*/
  font-family:'hotel' ;
  color: white;
  background-color: #000;
  border: none;
}

.link{
  font-family:'hotel';
  font-size: 1.5rem;
  color:#242222;
}

.link:hover{
  color: #0645AD;
}

#refer:visited{ /*non funziona*/
  color:#cccc00;
}

/*END DISCLAIMER*/

/*generici*/
h2::after{
    content: url("../../images/artdeco.jpeg");
    display: block;
    margin: auto;
    width: 300px;
    height: 3px;
padding-bottom: 2rem;
}

h1 {
  font-family: 'hotel';
  font-size: 3rem;
}

p{
  font-family: 'bembo';
}

button{
  cursor:pointer;
  border-color: none;
}

body{
  font-family: 'caro ngia', sans-serif; 
  background-color:#c9b080;                               
}

/* male male .container-fluid{ in navbar, footer, topic1, index, about us
  padding-right:0;
  padding-left:0;
  margin-left: 0;
  margin-right:0;
}*/

.row{
  margin-left: 0;
  margin-right: 0;
}
.row{} mt-4{ /*???????*/
  margin-top: 0;
}

/*.col:hover{
  background-color: purple;
}*/

h2{
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
  font-family: 'hotel', serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1em;
  color: #732627;
/* font-size: 10vh; */
}

h3{
  font-family:'hotel';
  color:#732627;
}

h4{
  font-family: 'hotel';
  color: #262626;
  text-align: center;
}
h5{
  font-family: 'bembo';
  font-size: 1.5rem;
}
img {
  filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
  width: 100%;
  border: 1mm ridge black;
  opacity: 0.8;
}
/*h4:hover{
  color:white;
  background-color: #000;
}*/

/*end generici*/

/*ALL HOVERS

.container-fluid:hover, #butto:hover, #but:hover, #butt:hover, #buttn.hover, .row:hover, #met:hover, #uno:hover, #tett:hover, #metto:hover{
  background-color: #d8ccba;
  color:#242222;
}

#mod:hover, #model:hover, #mode:hover, .sort, .sub:hover{
  background-color: black;
  color: white;
}*/



/*INDEX PAGE*/
.formaggiogio{display:none;}
  /*hideen titles*/
#main-title-cold{
  display:none;
}
#main-title-col2{
  display:none;
}

.cyberpunk,.formaggio{
  display:none;}
.box{
  display:none;}

#main-title-col{
  visibility: hidden;
}

#main-title{ /*questo con wall da mettere in altri css*/
  display: none;
}



.bann{
  padding: 1rem;
}

.titlehidden {
  display: none;
  }
/*.glitch-bloc{
  font-family: 'hotel', serif;
}*/

/* non esiste
.d-grip{
  font-family: 'hotel';
}*/

/*INDEX PAGE: FIRST textgate*/

/*#main-title{
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.1;
  color: rgb(0, 0, 0);
  margin-top: 1em;
  justify-content: center;
  text-align: center;
  font-family:'hotel' ;
  opacity: 0.7;
}*/


/*#main-title {
	position: relative;
}*/

/*mirror
#main-title-wall {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	display: flex;
	
	height: 30rem;
  margin-bottom: -9rem;
	align-items: center;
	justify-content: center;
}
#main-title-wall h1 {
	font-size: 10rem;
	position: absolute;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  line-height: .8;
}

#main-title-wall h1:active {
  animation: falling 1s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }
  
  24% {
    transform: rotateX(150deg);
  }
  
  36% {
    transform: rotateX(200deg);
  }
  
  48% {
    transform: rotateX(175deg);
  }
  
  60%, 85% {
    transform: rotateX(180deg);
  }
  
  100% {
    transform: rotateX(0deg);
  }
}*/

/*title wave*/
#main-title-wall {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	display: flex;
	
	height: 30rem;
  margin-bottom: -9rem;
	align-items: center;
	justify-content: center;
}


#main-title-wall h1 {
	font-size: 10em;
	position: absolute;
	
}

#main-title-wall h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #262626;
}

#main-title-wall h1:nth-child(2) {
	color: #262626;
	animation: animatewall 4s ease-in-out infinite;
}

@keyframes animatewall {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

#first{
   /* background-color: #c9b080;*/
    background-image: url("../../images/sfondowall.jpg");
    background-position: 5rem 0rem;
}


/*#first h1{
    padding-top: 16vh ;
    text-transform: uppercase;
    color: #242222;
    text-align: center;
    font-weight: 500;
    font-size: 16vh;
}*/

/* non esiste travel
#first #travel{
    margin-left: -1rem !important;
}*/

#first h2{
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2.5rem;
}

#project-description{
    font-size: 2rem;
    text-align: center;
    /*color: #d8ccba;*/
    color: #242222;
    padding-bottom: 1.5rem;
}

/*#project-description:hover{
  color:#242222;
}*/

/* to be deleted those refer to get started button
#icon{
    padding: 10vh;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center !important;
    text-decoration: none;
}
#get-started-btn-1{
  padding-top: 4rem;
  display: none;
}
*/

/*INDEX PAGE: SECOND topicsandthemes*/
#second{
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #c9b080; /*#c3b281;*/
    /*background-image: url("../../images/artdecowallpaperopacity.jpg");*/
}

#short{ 
  font-size: 2rem;
  color:#262626;
  text-align:center;
  margin-left:3rem;
  margin-right: 3rem;
  padding-bottom: 1.5rem;
}

#topp{
  text-align: center;
}

#btn-issues, #btn-themes{
  font-family: 'hotel', serif;
  border-radius: 0;
  border: 0.5mm ridge black;
  
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  display: inline-flex;
}

#btn-themes{
  background-color: #262626;
  /*background-image: url("../../images/artdecowallpaper.jpg");*/
  color:white;
  box-shadow: 0.2rem 0.2rem black;
}
#btn-themes:hover{
  background-color:#262626;
  color: #c9b080;
}

#btn-issues{
  color:#262626;
  /*background-image: url("../../images/artdecowallpaper.jpg");*/
  background-color: white;
  box-shadow: 0.2rem 0.2rem black;
}
#btn-issues:hover{
  background-color: white;
  color: #c9b080;
}

#btn-themes:active{
  box-shadow: 0.2rem 0.2rem black;
}
#btn-issues:active{
  box-shadow: 0.2rem 0.2rem black;
}

/*non esiste 
.c-right {
 color:#732627;
 font-size: 1.8rem!important;
 border-color: #242222;
}
.c-right:hover{
  color:#000000;
}
*/

/*INDEX PAGE: THIRD topics*/
/*#third h2{
  font-size: 3rem;
}*/
#third{
    background-color:#d8ccba;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

/*#gothird{
    background-color: #000000;
    margin-left: 10rem;
}*/

#issue-text{
  color: #242222;
  font-size: 2rem;
  text-align:center;
  margin-top:1rem;
  margin-right: 3rem;
}

/*#issue-text:hover{
color: #000;
}*/

#theme5{ /*button humanity fails*/
  width: 10em;
  text-align: center;
  background-color: #262626;
  color: #d8ccba;
  margin-left: auto;
  margin-right: auto;
  font-family: 'hotel';
  border: none;
  box-shadow: 3px 3px 3px #242222;
  
}

 #theme5:hover{
  background-color: #d8ccba;
  color: #242222;
} 

/*INDEX PAGE: FOURTH themes*/
#fourth{
  background-color:#242222;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
/*#fourth:hover{
  color:#242222;
}*/

#fourth h2{
  color: #c9b080;
}

#fourth h2::after{
  display: none;
}

/*
#fourth h2:hover{
  color:#242222;
}
#gofourth{
  color:#242222;
}*/

/*#fourth h2{
  padding: 0.5rem;
  letter-spacing: 0.3rem;
  font-size: 3rem;
}*/

#themes-text{
  /* margin: 1rem 0 1rem 0; */
  color:#c9b080;
  font-size: 2rem;
  text-align:center;
  margin-top:1rem;
  padding-bottom: 1.5rem;
}

/*#third:hover, #themes-text:hover{
  color:#000000!important;
}*/

/*non esiste
.about-content{
  padding-top: 8rem;
  padding-bottom: 5rem;
  background-color: #e1d6c9;
  margin-top: 0;
  display: flex;
}*/
/*#theme1,#theme2,#theme3,#theme4, #theme6, .btn-close{
   
    text-align: left;
    background-color: #242222;
    color: #d8ccba;
    font-family: hotel;
}*/



/*INDEX PAGE: polaroid ITEM */
.polaroid-container {
  padding-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.polaroid {
  width: 80%;
  background-color: none;
  /*box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1.25rem 0 rgba(0, 0, 0, 0.19);*/
  margin-bottom: 1.5rem;
}

.polaroidimg {
  width: 100%;
  object-fit: cover;
  height: 14rem;
  /*filter: sepia(100%);*/
  filter: grayscale(80%);
  /*border: 0.063rem solid black;*/
  border: 1rem solid #dbcc85;
  opacity: 0.9;
  
  --mask: 
    linear-gradient(#000 0 0) 50%/calc(100% - 12px) calc(100% - 12px) no-repeat,
    radial-gradient(6px,#0000 98%,#000) 0 -6px/11.10px 12px round no-repeat,
    radial-gradient(6px,#0000 98%,#000) 0 calc(100% + 6px)/11.10px 12px round no-repeat,
    radial-gradient(6px,#0000 98%,#000) -6px 0/12px 11.10px no-repeat round,
    radial-gradient(6px,#0000 98%,#000) calc(100% + 6px) 0/12px 11.10px no-repeat round;
  clip-path: polygon(12px 0,calc(100% - 12px) 0,100% 12px,100% calc(100% - 12px),calc(100% - 12px) 100%,12px 100%,0 calc(100% - 12px),0 12px);
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.polaroidimg:hover {
    opacity:0.2;
    transition: .5s ease;
}

.polartext {
  text-align: center;
  font-family: 'hotel';
  color: #c9b080; 
}

.polartextcomm {
  font-family: 'hotel', serif;
  text-align: center;
  font-size: 2rem;
  opacity: 0.9;
  color: #c9b080;
}

.collapse{
 text-align: center;
 padding: 0.5rem;
 color: #c9b080; 
}

/*END INDEX PAGE*/


/*START DOCUMENTATION*/
.doc-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  align-items: center;
  text-align: center;
  /* width: 45em; */
  height: 20em;
  filter:none;
  opacity: 1;
}
.decoration::after{
  content: url("../../images/artdeco.jpeg");
  display: block;
  margin: auto;
  width: 300px;
  height: 3px;
padding-bottom: 2rem;
}
#imgplus{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  align-items: center;
  text-align: center;
  /* width: 45em; */
  height: 20em;
}

.containerpadding {
  padding-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  }
.containerpadding h2 {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  }

  .main-body {
    display: grid;
    grid-template-areas: "navbardoc mainContent";
    grid-gap: 1rem;
  }

  #main-doc {
    grid-area: mainContent;
    padding-left: 12em;
  }
  
  #navbardoc {
    background-image: url("../../images/artdecowallpaper.jpg");
    /*grid-area: navbardoc;*/
    position: fixed;
    margin-top: -6.5rem;
    padding-top: 7rem;
    padding-left: 0.5em;
    padding-bottom: 7.5rem;
    padding-right: 0.5em;
  }

  #navbardoc a {
    background:#f5f2df;
    display: block;
    border: 0.3rem double black;
    border-collapse: separate;
    padding: 0.3rem;
    margin: 0.625 0;
    text-decoration: none;
    color: black;
    font-family: 'hotel', serif;
    text-align: left;
    font-size: 1.5rem;
    opacity: 0.9;
    border-radius: 0.5rem;
  }

  #navbardoc a:hover {
    color: #d8ccba;
    background-color:#4c1a1b;
  }
  .main-section p{
    text-align: justify;
    font-size: 1.3rem;
  }
  .main-section a{
    color: #d8ccba;
    font-style: italic;
    font-size: 1rem;
    }
  .main-section a:hover{
      color: #0645AD;
    }
 
  .main-section{
    border-bottom: 0.3rem solid #262626; /*or dotted*/
    padding-top: 1rem;
  }

  .main-section h3{
    margin: 0;
  }

  .g{
    font-size: 1.4rem;
    font-family: 'bembo';
    display: inline;
  }
  /*END DOCUMENTATION*/
  
  /* ABOUT US */
  #eyes{
    display:none;
  }

  .surv{
    display: none;
  }

  #team{
    padding-bottom: 1.5rem;
    background-color:#242222; ;
  }
  
  #teamsec{ /*meet our team*/
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin-left: 0rem;
    color: #c9b080;
  }

  #teamsec::after{
    display: none;
  }

  .wewantbeer{
    background-image: url("../../images/wewantbeer.jpg");
    padding-top: 7rem;
    margin-bottom: 1.5rem;
  }

  .siamo{
    padding-top: 0.5rem;
  }

  .thumbnail p{
    font-size: 1.3rem;
    color: #c9b080;
  }

 /*Old Paper Overlay*/
.picaboutus{
  position:relative;
  max-width:850px;
}

.img-fluid{
  filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
  height: 22em;
  display:inline-block;
}
.overlay{
  mix-blend-mode:multiply;
  position:absolute;
  display:inline-block;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.overlay img{
  width:100%;
  height:100%;
}

  /* END ABOUT US */

/*TOPIC PAGE*/
.filtro{
  display:none;
}

 /*La proprietà z-index nei CSS specifica la posizione di un elemento rispetto ad un altro. un elemento davanti all'altro*/
  #bann{
    z-index: 1;
  }
  
  #bann2{
    z-index: 1;
  }
  
  footer{
    z-index:1;
  }


#doclist{
  text-align: center;
  width:100%;
  size: fit-content;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

#doclist h2 {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}

.sticky-top{
  padding-top: 3rem;
  background-color: #d8ccba;
  position: sticky;
  width: 100%;
}

.form-check-inline {
  display: inline-block;
}

#checkb{
  background-image: url("../../images/artdecowallpaperopacity.jpg");
  text-align: center;
  /*border-style:inset;
  border-color: #856d4b;*/
  padding-left: 8em;
  padding-right:8em;
  /* width: 100%; */
  padding-top: 5em;
  /* margin-left: 0em;
  margin-right: 0em; */
  font-family: "bembo";
  z-index: 1;
}

.form-check input[type="checkbox"]{ /*non funziona*/
  color:yellow;
  border-radius: 0.25em;
}

[type=button] {
  cursor: pointer;
  font-weight: 800;
}

.space{
  padding:2rem;
}


/* Addded by ahsan */ 
.text-people {
  background-color: #ffddff;
}
.text-place {
  background-color: #ddffdd;
}
.text-event {
  background-color: #ffffdd;
}
.text-concept {
  background-color: #4d4451;
}
.text-opinion {
  background-color: #377c50;
}

#sti{
  background-image: url("../../images/artdecowallpaperopacity.jpg");
  padding-top:  7.5rem;
  background-color: #d8ccba;
  font-size: 2rem;
  border-radius: 1rem;
}

#asides-tab, #speeches-tab, #quotes-tab, #peoples-tab, #places-tab, #events-tab, #concepts-tab, #opinions-tab {
  background: #f5f2df;
  border: 0.3rem double black;
  border-collapse: separate;
  padding: 0.3rem;
  margin: 0.625 0;
   /*text-decoration: none;*/
  color: black;
  font-family: 'hotel', serif;
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.9;
  border-radius: 0.5rem;
}

.tab-content a{
  color: black;
  font-family: "bembo";
  font-size: 1.2rem;
}

.list a{
  font-size: 1.2rem;
  color: #d8ccba;
  background-color:#4c1a1b;
  text-decoration: none;
}
.list a:hover{
  text-decoration: underline;
}

#list_btn{
  display: block;
  border: 0.3rem double black;
  border-collapse: separate;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  /*text-decoration: none;*/
  color: black;
  font-family: 'hotel', serif;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.9;
  border-radius: 0.5rem;
}


#lst_btn:hover {
  color: #d8ccba;
  background-color:#4c1a1b;
}


#sti  a:hover {
  color: #d8ccba;
  background-color:#4c1a1b;
}

.tab-content{
  border-radius: 1rem;
  overflow-y:scroll;
  height:8rem;
  /*background-color: #d8ccba;*/
  background-image: url("../../images/artdecowallpaperopacity.jpg");
}

#file a{
  color: #c9b080;
  font-style: italic;

 }
 
 #file2 a{
  color: #c9b080;
  font-style: italic;
 } 

 #file a:hover{
  color: #0645AD;
}
#file2 a:hover{
  color: #0645AD;
}


#file{
  overflow-y: scroll;
  height: 50rem;
  background-color: #e3d9d2;
}


#file2{
  overflow-y: scroll;
  height: 50rem;
  background-color: #e3d9d2;
}

#file img{
  filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
  border: 1mm ridge black;
  opacity: 0.9;
}

#file2 img{
  filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
  border: 1mm ridge black;
  opacity: 0.9;
}

figcaption{
  font-family: 'bembo';
  font-size: 0.5rem;
}

#file h2{
 /* text-transform: lowercase;*/   /*controlla h2*/
  text-align: center;
  color: black;
}

#file h1{
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;

}

#file p{
 text-align: justify;

}

#file2 h2{
 /* text-transform: lowercase;*/
    text-align: center;
    color: black;
  }
  
  #file2 h1{
    text-transform: uppercase;
    text-align: justify;
    font-weight: bold;
  }
  
  #file2 p{
   text-align: justify;
  
  }
  

/*.btn-group-toggle{

  padding-top: 1em;
  text-align: center;
  
  }*/

/*what is this?
#asides-tab, #speeches-tab ,#quotes-tab ,#concepts-tab,#opinions-tab {
  font-size: 11.25rem; 
}*/


.animate { 
  animation-name: bgcolor ;
  animation-duration: 0.75s ; 
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes bgcolor {
  from { background-color: #ffffff;  }
  to { background-color: #cccc00; }
}



/*si potrebbe commentare da qui:
label{
  font-size: 1.5rem;
  font-family:'hotel';
  color:#242222;
}
label:hover{
  color:black;
}
#uno{
  width:100%;
  text-align: center;
  margin-top: 0!important;
  padding-top: 8rem;
  padding-bottom: 2rem;
  background-color: #4c1a1b;
  cursor: pointer;
}
#met, #metto{
  text-align: center;
  background-color: #732627;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
#flow{
  display: flex;
  margin-right: 0;
}
.btn-group-toggle{

  padding-top: 0.6rem;
text-align: center;

}
a qui ma chiedi Ahsan. Sono cose che ci sono ma commeted out o non esistono*/

/*non esistono
#frag, #fragm, #fra, #fratm, #acca{
  border: 4mm ridge #732627;
  background-color: #000;
}

#fragm, #frag, #fra, #fratm{
  width: 45%;
}

#ttx, #ttxt, #tutto, #nulla{
  color: #c9b080;
  font-size: xx-large;
  cursor: all-scroll;
  position: relative;
}

.documn{
  color: #732627;
  font-size: xx-large;
}*/

/*END TOPIC PAGE*/


/*SELECTOR THEMES*/
.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  
}
.fab-container:hover {
  height: 100%;
}
.fab-container:hover .sub-button:nth-child(2) {
  transform: translateX(-14vh);
}
.fab-container:hover .sub-button:nth-child(3) {
  transform: translateX(-28vh);
}
.fab-container:hover .sub-button:nth-child(4) {
  transform: translateX(-42vh);
}
.fab-container:hover .sub-button:nth-child(5) {
  transform: translateX(-56vh);
}
.fab-container:hover .sub-button:nth-child(6) {
  transform: translateX(-70vh);
}
.fab-container:hover .sub-button:nth-child(7) {
  transform: translateX(-84vh);
}

/* .fab-container:hover .sub-button:nth-child(6) {
  bottom: 1vh;
  transform: translateX(-12vh);
} */

.fab-container .fab {
  position: relative;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  z-index: 2;
}
.fab-container .fab::before { /*The ::before selector inserts something before the content of each selected element(s).*/
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 6vh;
  width: 6vh;
  /*background-color: inherit;*/
  
 
  border-radius: 0 0 0.625rem 0;
  z-index: -1;
}
.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.fab-container .sub-button:hover {
  cursor: pointer;
}
.fab-container .sub-button .material-icons {
  padding-top: 0.375rem;
}

.fab-content{
  background-image: url("../../css/images/theme.png");
  background-size: 8vh;
  background-repeat: no-repeat;
  background-position: center center !important;
 
}

.sub-button:nth-child(2){
  background: url("../../css/images/plague.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;

}

.sub-button:nth-child(3){
  background: url("../../css/images/colonization.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(4){
  background: url("../../css/images/wallstreet.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(5){
  background: url("../../css/images/coldwar.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(6){
  background: url("../../css/images/cons.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-button:nth-child(7){
  background: url("../../css/images/alien.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.fab-content, .fab-shadow, .sub-button, .fab{
  background-color: #d8ccba !important;
}

.sub-button:hover{
  background-color: #c9b080 !important;
}
/* .fab-container #enable-future:hover{
  background: url("/typetravel/images/Future/g25.gif") !important;
  background-size: 12vh !important;
} */

/* .sub-button:nth-child(6){
  background: url("/typetravel/images/icons/default-icon.png");
  background-size: 5vh !important;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 6vh;
  text-decoration: none !important;
  height: 8vh !important;
  width: 8vh !important;
  right: 3vh !important;
} */

/* .fab-container:hover{
  background-color: #83c0cf !important;
}
 */

/*END SELECTOR THEMES*/

/*FOOTER*/
footer{
  background-color: #d8ccba;
  font-family: 'hotel';
  color:#732627;
  text-align: center;
  font-weight: 100;
  position:sticky;
  padding-top: 1.5rem;
}  
.fabvit{
color:#732627;
}
.fabvit:active,.fabvit:hover{
color: #242222;
}
/*footer p{
  font-size: 1rem ;
}*/

footer p{
text-align: center;
padding-left: 0;
font-weight: 100;
margin-bottom: 0.1vh;
box-align:center;
/*word-wrap: break-word;*/
}
#footer-left, #footer, #foot, #footo{
padding-top: 0.1vh;
position: sticky;
width: 100% ;
text-align: center;
border: none;
/* box-align: center; */
}

#copia{ /*copyright*/
text-align: center;
padding-bottom: 1.5rem;
}

/*#form10, #form11{
background-color: #4c1a1b;
color: white;
width:10rem;
font-size: large;
margin:0;
text-align: center;
margin: 1.5rem;
}*/

/*.addo{
margin: none;
display: inline-block;
}*/

/*.sub{
background-color: #242222;
color: #d8ccba;
size: 2rem;
}*/

/*.form-control{
size: 3rem;
height: 3rem;
}*/

/*.md-form{
background-color: #732627;
margin:none;
padding: none;
}
.imm{
width: 30rem;
}

:root{
  --time-color: black;
  --time-transition: ease-in-out 0.3s;
}
*/
/*END FOOTER*/
