body {

  cursor: url(../../images/snails.png) 15 10,auto!important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.4em #00ff00; 
  border-radius: 2em;
}
 
::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-thumb { 
  background:#00ff00;
  border-radius: 10em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#000000;
}
/*Importing Black Plague fonts*/
@font-face {
  font-family: 'advent';
  src: url(../fonts/AdventPro-Medium.ttf);
}

@font-face {
  font-family: 'tomorrow';
  src: url(../fonts/tomorrow.ttf);
}

/*Highers the Responsiveness of the web page*/
* {
  margin: 0;
  box-sizing: border-box;
  }
body{
  font-family: 'advent', sans-serif;                                
}
html{
  overflow-y: auto;
}
/*disclaimer style start*/

.modal-dialog{
  max-width: 100vh;
}

.modal-title{
  font-family: 'tomorrow';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}
.modbod{
  font-size: 2rem;
  font-family: 'advent';
  /* text-align: center; */
  padding: 1rem;
  font-weight: 100;
  color:#00ff00;
  background-color: black;
}
#disclaimer{
  background-image: url(../../images/galaxy.gif);
}
#refer li a{
  color:#00ff00;
}
.btn-close{
  color:#00ff00;
}
.btn-secondary:hover{
  background-color: #000;
  color:#00ff00;
}
.btn-secondary{
  color:#000;
  background-color: #00ff00;
}
.btn-close:hover, .btn-secondary:hover{
  box-shadow: 2px 5px 10px 5px #00ff00;
}
.modal-header, .modal-footer{
  background-color: #6d24ff;
  color:#00ff00;
  font-family: 'tomorrow';
}
#butt{
  font-family: 'tomorrow';
  background-color: #00ff00;
  color:#6d24ff;
}
#butt:hover{
  box-shadow: 2px 5px 10px 5px #00ff00;

}

/*disclaimer end*/
/*navbar start*/
#navbar{
  font-family: 'tomorrow', serif;
    /* text-transform: lowercase; */
    font-weight: 300;
    background-color: #6d24ff;
    width:100%;
    color: #00ff00;
    font-size: 1.5rem;
}

.nav-item, .nav-link, #navbarDropdownMenuLink, li .nav-item{
  
  color:#00ff00!important;
} 
.nav-item:hover, a .dropdown-item:hover{
  box-shadow: 2px 5px 10px 5px #00ff00;
  border-width: 0.5em;
  border-color:#000;
}

#navbarDropdownMenuLink{
  background-color: #6d24ff;
  color:#00ff00;
}
.dropdown-item:hover, .dropdown-item:active{
  background-color: #6d24ff;
  color:#00ff00;
}
.dropdown-item:hover{
  background-color: #00ff00;
  border-color: #266206;
  color:#6d24ff;
  border-radius: 50px;
}
.dropdown-menu{
  background-color:#6d24ff;
  color: #00ff00;
}
.dropdown-item{
  font-size: 1.5rem;
  color:#00ff00;
}
/*navbar end*/
/*cursor style*/
/* REQUIRED / without this, the cursor will still show */

/* OPTIONAL / prevents user from selecting texts */
::selection {
  user-select: none;
}

/* this class marks display as flex on the rest of the element's classlist */
.flex {
  display: flex;
}

/* CUSTOMIZABLE / hyperlink styling */
#nav-active-link .nav-link.active, a .dropdown-item:hover, .dropdown-toggle.show:hover{
  text-decoration: none;
  color: var(--grey1);
  padding: 5px 2%;
  border: 2px solid var(--grey2);
  border-radius: 50px;
  
  align-self: center;
  text-align: center;
  
  transition: all ease-out 0.5s; /* for smooth transitions when cursor leaves the button */
 
  width: 100%;
  max-width: 100%;
}

/* CUSTOMIZABLE / hyperlink on-hover styling */
a:hover {
  padding: 5px 10%;
  border: 2px solid var(--white);
  color: var(--white);
  
  transition: all ease-out 0.5s; /* for smooth transitions when cursor enters the button */
  
  align-self: right;
  
  max-width: 100%;
}


/* OPTIONAL / webpage name  */
.name {
  color: var(--white);
  font-size: 20px;
}


/* OPTIONAL */
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

/* OPTIONAL */
.nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  margin: 3em;
  opacity: 100%;
}

/* keeps menu width fixed so the buttons can have a smooth transition back and forth */
.menu {
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  max-width: 100vw;
  gap: 1em;
}

/* REQUIRED / besides position, pointer-events, transform, and transition, the rest are customizable styling */
.small {
  height: 10px;
  width: 10px;
  background-color: var(--green);
  border-radius: 10px;
  filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));
  
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: height 0.2s, width 0.2s;
}

/* REQUIRED / besides position, pointer-events, transform, and transition, the rest are customizable styling */
.big {
  height: 50px;
  width: 50px;
  border: 3px solid var(--green);
  border-radius: 100px;
  filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));
  
  position: fixed;
  pointer-events: none;
  transform: translate(calc(-50%), -50%);
  transition: height 0.5s, width 0.5s, filter 0.5s;
}

/* OPTIONAL */

/* for device responsiveness */
@media (max-width: 992px){


  /*NAVBAR*/
  #navbar .collapse, #navba .collapse, #navb .collapse, #navbi .collapse{
      
      border-top: none;
     
      
  }
  #navbar{
    background-image: none !important;
   
  }
  #navbardoc{
    display: none !important;
}
#main-doc {
  grid-area: mainContent !important;
  padding-left: 0em !important;
}






 
  #first h1{
      font-size: 8vh !important;
  }
  #first #travel{
      margin-left: -1rem !important;
  }
  #first h2{
      font-size: 3.5vh;
  }

  
.fab shadow{
  background-color: black;
}

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  
}
.fab-container:hover {
  height: 100%;
}
.fab-container:hover .sub-button:nth-child(2) {
  transform: translateY(-12vh) !important;
}
.fab-container:hover .sub-button:nth-child(3) {
  transform: translateY(-24vh) !important;
}
.fab-container:hover .sub-button:nth-child(4) {
  transform: translateY(-36vh) !important;
}
.fab-container:hover .sub-button:nth-child(5) {
  transform: translateY(-48vh) !important;
}
.fab-container:hover .sub-button:nth-child(6) {
  transform: translateY(-60vh) !important;
}
.fab-container:hover .sub-button:nth-child(7) {
  transform: translateY(-72vh) !important;
}
/* .fab-container:hover .sub-button:nth-child(6) {
  bottom: 1vh;
  transform: translateX(-12vh);
} */

.fab-container .fab {
  position: relative;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  z-index: 2;
}
.fab-container .fab::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 6vh;
  width: 6vh;

  
 
  border-radius: 0 0 10px 0;
  z-index: -1;
}
.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #6d24ff !important;
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  transition: all 0.3s ease;

}
.fab-container .sub-button:hover {
  cursor: pointer;
}
.fab-container .sub-button .material-icons {
  padding-top: 6px;
}

.fab-content{
  background-image: url("../../css/images/theme.png");
  background-size: 8vh;
  background-repeat: no-repeat;
  background-position: center center !important;
 
}

.sub-button:nth-child(2){
  background: url("../../css/images/plague.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;

}

.sub-button:nth-child(3){
  background: url("../../css/images/colonization.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(4){
  background: url("../../css/images/wallstreet.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(5){
  background: url("../../css/images/coldwar.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(6){
  background: url("../../css/images/cons.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-button:nth-child(7){
  background: url("../../css/images/alien.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.fab-content, .fab-shadow, .sub-button, .fab{
  background-color: #6d24ff !important;
}

.sub-button:hover{
  background-color: #00ff00 !important;
}

#peoples-tab, #places-tab ,#events-tab ,#concepts-tab,#opinions-tab {
  background-image: none !important;

}

#peoples-tab:hover,#peoples-tab:focus, #places-tab:hover,#places-tab:focus ,#events-tab:hover,#events-tab:focus ,#concepts-tab:hover, #concepts-tab:focus,#opinions-tab:hover,#opinions-tab:focus{
  width: 7em !important;
}

.nav-item, .dropdown-item{
  font-size: 1rem !important;
} 


#btn_1{
  font-size: 0.5em !important;
}


.form-check-input{
  font-size: 0.5em !important;
  color:#000;
}

.list {
  font-size: 0.6em !important;
  line-height: 1; 
  list-style-type: none;
/* 			margin: 0;  */
/* 			white-space: nowrap;  */
/* 			overflow-x: hidden; */
/* 			list-style-position:inside;   */
}


}  
/*start index.html*/
/*first content row*/
#main-title{
  opacity: 0;
  /* fade in */
  -webkit-animation: fadeinout 6s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinout 6s;
  /* Firefox < 16 */
  -ms-animation: fadeinout 6s;
  /* Internet Explorer */
  -o-animation: fadeinout 6s;
  /* Opera < 12.1 */
  animation: fadeinout 6s;
}
#first{
  background-color:black;
  color:#00ff00;
}
.container-fluid{
  padding-right:0;
  padding-left:0;
  margin-left: 0;
  margin-right:0;
}
.row{
  margin:0;
}
.row{} mt-4{
  margin-top: 0;
}
.titlehidden, #main-title-col, #main-title-col2, #main-title-wall, #main-title, .walls{
  display:none;
}
#first-text{
  line-height: 2;
}
.cyberpunk{
  padding-top: 16vh ;
  text-align: center;
  font-size: 10rem;
  font-family: 'tomorrow';
  padding-bottom: 20vh;
  background-image: url(../../images/galaxy.gif);
}
/*alien invasion title neon effect*/
.neon {
  text-shadow: 0 0 3vw #6d24ff;
  animation: neon 2s ease-in-out infinite;
}
.flux {
  text-shadow: 0 0 3vw #179E05;
  animation: flux 2s linear infinite;
}
@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw #ffe6e6, 0 0 3vw #ff6666, 0 0 10vw #ff4d4d, 0 0 10vw #ff3333, 0 0 .4vw red, .5vw .5vw .1vw #806914;
    color: #6d24ff;
  }
  50% {
    text-shadow: 0 0 .5vw #fad201, 0 0 1.5vw #fad201, 0 0 5vw #fad201, 0 0 5vw #fad201, 0 0 .2vw #fad201, .5vw .5vw .1vw #dc9d00;
    color: #6d24ff;
  }
}
@keyframes flux {
  0%, 100% {
    text-shadow: 0 0 1vw #10ff4c, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #03C03C;
  }
  50% {
    text-shadow: 0 0 .5vw #A65e2e, 0 0 1.5vw #A65e2e, 0 0 5vw #A65e2e, 0 0 5vw #A65e2e, 0 0 .2vw #A65e2e, .5vw .5vw .1vw #A65e2e;
    color: #179E05;
  }
}
#first #travel{
  margin-left: -1rem !important;
}

h2{
  font-family: 'tomorrow', serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #00ff00;
  /* font-size: 10vh; */
  font-weight: 600;
  font-size: 3rem;
}
#title2{
  padding-top:8rem;
  padding-bottom: 8rem;
  background-image: url(../images/galaxy.gif);
}


.cyberpunk2{
  /*display: none;*/
  animation: caret 1s steps(1) infinite;
  font-family: 'tomorrow';
  font-weight: 600;
  color: #6d24ff !important;;
  border-width: 3rem ;
  display:flex;
  justify-content: center;
  -webkit-border-image: url(border.png)
}
.cyberpunk2:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}
.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.cyberpunk2 {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'tomorrow';
  font-weight: 400;
  text-transform: uppercase;
  font-size: xx-large;
  text-align: center;
  margin: 0;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}
.cyberpunk2:hover{
  color:yellow;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/*end title effect*/
/*stars background*/
body {
  margin: 0;
  letter-spacing: 0.2rem;
}

@keyframes drift1 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  10% {
    box-shadow: 0 0 1px 5px rgba(242,242,242,0.2);
  }
}
/*start content description*/
#project-description{
  padding-top: 2rem;
  font-size: 4vh;
  letter-spacing: 0.6em;
  text-align: center;
  color: #00ff00;
  padding-bottom: 2rem;
}

/*end content description*/

/*start project text*/
#icon{
  padding: 10vh;
  margin: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center !important;
  text-decoration: none;
}
#get-started-btn-1{
padding-top: 4rem;
display: none;
}
/*end first row*/

/*start second row*/
#second{
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-image:url(../../images/vomit.webp);
  font-family: 'advent';
  font-weight: 500;
}
#second, #gosecond{
  background-size:100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
}
#about-proj{
  text-align: center;
  font-size: 4vh;
  line-height: 2;
}

#short{ 
  color: black;
  text-align:center;
  margin-left:3rem;
  margin-right: 3rem;
  font-style: bold;
}

#topp{
  text-align: center;
}


/*topics and themes buttons*/

#theme5{
  justify-content: center;
  margin: 0 auto;
  display: block;

}
#btn-issues, #btn-themes, #theme5, #doc-list h2{
    font-family: 'tomorrow', serif;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-size: 4vh;
    width: 10rem;
    margin-top: 2rem;
    text-align: center;
    display: inline-flex;
    margin-left: auto;
    border: none;
    border-radius: 0%;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color:#6d24ff;
    padding: 35px 75px;
    position: relative;
    border-right: 3px solid #8ae66e;
    clip-path: polygon(
      -15px 0%,
      calc(100% + 15px) 0%,
      calc(100% + 15px) 100%,
      20px 100%,
      -15px calc(100% - 35px)
    );
    cursor: pointer;
    background-color: var(--background-color);
    outline: none;
    background-color: #000;
  }
  .main-body h5{
    color:#6d24ff;
    
  }
  .row h2:hover{
    color: yellow;
  }
  #btn-issues:hover, #btn-themes:hover, #btn-issues:focus, #btn-themes:focus, #theme5:hover, #theme5:focus, #mainheader h2:focus, #doclist h2:focus, #teamsec:focus, #teamsec:hover, #plu h2:hover, #plu h2:focus, #fourth h2:hover, #fourth h2:focus #mainheader h2:hover, #mainheader h2:focus, #doclist h2:hover, #doclist:focus, #teamsec:hover, #teamsec:focus{
    color: #f9f002;
    box-shadow: 2px 5px 10px 5px #00ff00;
    border-width: 0.5em;
    border-color:#000;
  }
  #btn-issues:after, #btn-themes:after, #theme5:after, #main-doc h3:after, #mainheader h2:after, #doclist h2:after, #teamsec:after, #plu h2:after, #fourth h2:after, #mainheader h2:after, #doclist h2:after, #teamsec:after{
    content: "R-25";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 25px;
    padding: 2px 2px 0px 2px;
    font-size: 0.6rem;
    line-height: 9px;
    color: #000;
    background-color: #f9f002;
    border-left: 2px solid #8ae66e;
  }

  button#btn-issues:before,#btn-themes:before, #theme5:before, #main-doc h3:before, #mainheader h2:before, #doclist h2:before{
  --outside: 4px;
  content: "";
  position: absolute;
  display: none;
  background-color: var(--background-color);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0px;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid #8ae66e;
  border-right: 2px solid #8ae66e;
}

#btn_1{
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  text-decoration: none;
  color: #00ff00;
  padding: 7px 2%;
  border: 2px solid var(--grey2);
  border-radius: 50px;
  align-self: center;
  text-align: center;
  transition: all ease-out 0.5s; /* for smooth transitions when cursor leaves the button */
  width: 100%;
  max-width: 100%;
  background-color: #6d24ff;
}
#btn_1:hover{
  box-shadow: 2px 5px 10px 5px #00ff00;
}

button.#btn-themes:hover:before,
a.#btn-issues:hover:before,
button.#btn-themes:focus:before,
a.#btn-issues:focus:before, #theme5:hover:before, #theme5:focus:before, #doclist h2:before, #mainheader h2:before {
  display: block;
  animation-name: hoverbefore;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hover {
  0% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  61% {
    transform: skew(10deg);
  }
  70% {
    transform: skew(10deg);
  }
  71% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes hoverbefore {
  0% {
    display: none;
    top: 0px;
  }
  10% {
    display: none;
    top: 0px;
  }
  11% {
    display: block;
    top: 10px;
    left: calc(0px - 0px - var(--outside));
  }
  29% {
    top: 10px;
  }
  30% {
    display: none;
    top: 0px;
  }
  50% {
    display: none;
    top: 0px;
  }
  51% {
    display: block;
    top: 55px;
    filter: blur(1px);
    height: 22px;
  }
  90% {
    display: block;
    top: 55px;
    height: 22px;
  }
  91% {
    filter: blur(0px);
    display: none;
    top: 0px;
    height: 12px;
  }
  100% {
    display: none;
    top: 0px;
  }
}

@keyframes hoverafter {
  0% {
    right: 45px;
  }

  10% {
    right: 45px;
  }
  11% {
    right: 35px;
  }
  20% {
    transform: skew(0deg);
  }
  21% {
    transform: skew(-10deg);
  }
  40% {
    transform: skew(-10deg);
  }
  41% {
    transform: skew(0deg);
  }
  49% {
    right: 35px;
  }
  50% {
    right: 55px;
  }

  60% {
    right: 55px;
  }
  61% {
    right: 35px;
  }
  70% {
    transform: skew(0deg);
  }
  71% {
    transform: skew(10deg);
  }
  80% {
    transform: skew(10deg);
  }
  81% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}


/*end of second section*/

/*start of third section*/
#third{
  background-image: url(../../images/galaxy.gif);
  padding-bottom: 2rem;
  padding-top: 0;

}
#third p{
  /* padding: 0.5rem 2rem 0.5rem 2rem!important; */
  font-size: 2.5vh;
  text-align: center;
  color:yellow;
  font-family: 'advent';
}

/*themes-text is in the 4th section, while third is in the 3rd, but they have common styles*/
#themes-text{
  padding-top: 4rem;
  padding-bottom:2rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'advent';
  color:#6d24ff;
}
#third #themes-text{
    /* margin: 1rem 0 1rem 0; */
    color:#00ff00;
    font-size: x-large;
}


#issue-text{
  text-align: center;
  font-size: 2rem;
  padding-top:2rem;
}

/*end third section*/

/*start fourth section*/

#fourth{
  background-color:#00ff00;
}

#fourth h2{
  color: #00ff00;
}
#fourth h2:hover{
  color:yellow;
}

/*end fourth section**/

/*start polaroid*/
.polaroid-container {
  padding-left: 2em;
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.polaroid {
  width: 80%;
  background-color: black;
  color:#00ff00;
  font-family: 'tomorrow';
  box-shadow: 0 4px 8px 0 #6d24ff, 0 6px 20px 0 #6d24ff;
  margin-bottom: 25px;
}
.polaroidimg {
  width: 100%;
  object-fit: cover;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
}
.polaroid-container .polaroidimg:hover {
    opacity:0.2;
    transition: .5s ease;
}
.polartext {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'canterbury', serif;
  font-weight: 900;
}
.polartextcomm {
  text-align: center;
  font-size: 24pt;
}
.show{
  text-align: center;
}
/*end polaroid*/

/*start footer*/
footer{
  background-color: #6d24ff;
  font-family: 'tomorrow';
  color:#00ff00;
  text-align: center;
  font-weight: 100;
  position:sticky;
  z-index: 1;
  padding: 0.5em;
}  
.fabvit{
color:#00ff00;
}
.fabvit:active,.fabvit:hover{
color: #00ff00;
}

footer p, #cop, #copy, #copp{
  font-size: 1.5rem ;
}
footer p{
    text-align: center;
    padding-left: 0;
    font-weight: 100;
    margin-bottom: 0.1vh;
    box-align:center;
    padding-top: 0.8rem;
}
#footer{
  padding-top: 1rem;
  position: sticky;
  width: 100% ;
  text-align: center;
  border: none;
  /* box-align: center; */
}
#copia{
    text-align: center;
    padding-bottom: 1.5rem;
}
/*end footer*/
/*end index*/

/*start document list*/
#doclist{
  margin-top: 0;
  text-align: center;
  width:100%;
  padding-top: 5rem;
  background-image: url(../../images/galaxy.gif);
  padding-bottom: 1rem;
}
.doc-img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 20em;
  align-items: center;
  text-align: center;
  height:20em;
}

/*end doclist*/

/*start metadata*/
#checkb{
  background-image: url(../../images/vomit.webp);
  z-index:1;
  text-align: center;
  padding-left:8em ;
  padding-right: 8em;
}

#metado{
  background-image: url(../images/galaxy.gif);
  padding:0;
  margin:0;
}
.sticky-top{
  text-align: center;
  font-family: 'tomorrow';
  position: sticky;
  padding-top:20px;
  top:0;
  width:100%;
}

.btn-default:hover{
  text-shadow: 0 0 3vw #179E05;
}
.flex-column{
  flex-direction: column;
}
#bann{
  background-image: url(../../images/galaxy.gif);
  position:relative;
  z-index:1;
  font-size: 1.2rem;
}
#bann2{
  background-image: url(../../images/galaxy.gif);
  position:relative;
  z-index:1;
  font-size: 1.2rem;
}

.form-check-inline{
  padding-top: 3rem;
  display: inline-block;
  margin-right: 1rem;
  color:#000;
}
label{
  color: #000;
  font-family: 'tomorrow';
  display: inline-block;
  font-size: x-large;
}
.form-check{
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.col-4{
  background-color: #00ff00;
  margin-bottom: 0;
}
#peop:hover, #plac:hover, #eve:hover, #conce:hover, #oppi:hover{
  background-color: #6d24ff;
}
#peoples-tab, #places-tab, #events-tab, #concepts-tab, #opinions-tab {
  background-color: #6d24ff;
}

#sti{
  padding-top:100px;
}
.space{
  padding-bottom:2rem;
}

.tab-content{
  overflow-y:scroll;
  height:8em;
}
.space{
  padding:2rem;
}
#file{
  overflow-y: scroll;
  height: 800px;
}
#file2{
  overflow-y: scroll;
  height: 800px;
}
/*end metadata style*/

/*start aboutus*/
.slideanim{
  background-image: url(../../images/galaxy.gif);
  margin:0;
  padding-bottom: 1rem;
}
#teamsec{
  font-family: 'tomorrow';
  padding-bottom: 0.3em;
  padding-top: 8rem!important;
  margin-bottom: 0;
}

.overlay{
  display:none;
}
.surv{
  background-image:url(../../images/vomit.webp);
  color: #6d24ff;
  padding-bottom: 1.2rem;
  padding-top:4rem;
  margin-bottom: 0;
}
.surv:hover{
  color:black;
}
.us{
  max-width:fit-content;
  height: auto;
  text-align: center;
}
.siamo{
  padding-top: 0.1rem!important;
}
.thumbnail{
  margin-bottom: 0rem;
  padding: 0.1rem;
  background-color: #00ff00;
  font-family: 'tomorrow';
  color:#6d24ff;
}



/*general requirements*/
:root{
    --time-color: black;
    --time-transition: ease-in-out 0.3s;
}

@media (max-width: 768px){
    .btn-third{
        font-size: 3vh !important;
        margin-left: 1rem !important;
    }
    .btn-third:first-child{
        margin-left: 1rem !important;
        padding-top: 1rem;
    }
}




col-sm h3{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3{
  font-family:'tomorrow';
  color:#6d24ff;
}

 h4{
  font-size: xx-large;
  font-family: 'tomorrow';
  color:#6d24ff;
  text-align: center;
}

h5{
  font-size: 1.8em;
  margin-top: 0;
  font-family: 'advent';
}





@media (min-width: 992px) and (max-width: 1200px){
    .issue-description{
        font-size: 2.5vh !important;
        padding-bottom: 0.5rem !important;
    }
}

@media (min-width: 768px) and (max-width: 992px){
  #about-proj p{
      font-size: 3vh;
  }
  .issue-description{
      font-size: 2.5vh !important;
      padding-bottom: 0.5rem !important;
  }
}

.text-people {
  background-color: #ffddff;
}

.text-place {
  background-color: #ddffdd;
}
.text-event {
  background-color: #ffffdd;
}

.text-concept {
  background-color: #4d4451;
}

.text-opinion {
  background-color: #377c50;
}

.animate {
  animation-name: bgcolor ;
  animation-duration: 0.75s ; 
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes bgcolor {
  from { background-color: #ffffff;  }
  to { background-color: #cccc00; }
}


img, figure {
  width: 100%;
  border-radius: 10px;
  filter:saturate(300%);
}
#imgplus{
  text-align: center;
}

.btn-group-toggle{

  padding-top: 10px;
text-align: center;

}

/* .row .white{
  background-color: white;
}

.col-md-12 .tess{
  text-align:center;
} */

/* SELECTOR */
.fab shadow{
  background-color: #00ff00;
}
.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  
}
.fab-container:hover {
  height: 100%;
}

.fab-container:hover .sub-button:nth-child(2) {
  transform: translateX(-14vh);
}
.fab-container:hover .sub-button:nth-child(3) {
  transform: translateX(-28vh);
}
.fab-container:hover .sub-button:nth-child(4) {
  transform: translateX(-42vh);
}
.fab-container:hover .sub-button:nth-child(5) {
  transform: translateX(-56vh);
}
.fab-container:hover .sub-button:nth-child(6) {
  transform: translateX(-70vh);
}
.fab-container:hover .sub-button:nth-child(7) {
  transform: translateX(-84vh);
}
.filtro{
  display:none;
}
/* .fab-container:hover .sub-button:nth-child(6) {
  bottom: 1vh;
  transform: translateX(-12vh);
} */

.fab-container .fab {
  position: relative;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  z-index: 1;
}
.fab-container .fab::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 6vh;
  width: 6vh;
  
 
  border-radius: 0 0 10px 0;
  z-index: -1;
}
.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color:white;
  filter: invert(100%);
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color:#00ff00;
  filter: invert(90%);
}

.fab-container .sub-button .material-icons {
  padding-top: 6px;
}

.fab-content{
  background-image: url("../../css/images/theme.png");
  background-size: 8vh;
  background-repeat: no-repeat;
  background-position: center center !important;
 
}

.sub-button:nth-child(2){
  background: url("../../css/images/plague.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;

}

.sub-button:nth-child(3){
  background: url("../../css/images/colonization.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(4){
  background: url("../../css/images/wallstreet.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(5){
  background: url("../../css/images/coldwar.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(6){
  background: url("../../css/images/cons.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-button:nth-child(7){
  background: url("../../css/images/alien.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.fab-content, .fab-shadow, .sub-button, .fab{
  background-color: #6d24ff !important;
}

.sub-button:hover{
  background-color: #e2cb9c !important;
}
/* .fab-container #enable-future:hover{
  background: url("/typetravel/images/Future/g25.gif") !important;
  background-size: 12vh !important;
} */

/* .sub-button:nth-child(6){
  background: url("/typetravel/images/icons/default-icon.png");
  background-size: 5vh !important;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 6vh;
  text-decoration: none !important;
  height: 8vh !important;
  width: 8vh !important;
  right: 3vh !important;
} */

/* .fab-container:hover{
  background-color: #83c0cf !important;
}

/*START DOCUMENTATIO*/
.containerpadding {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#mainheader{
  background-image: url(../../images/galaxy.gif);
}
#mainheader h2{
  padding-left: 17rem!important;
}
#theme5, #main-doc h3{
  background-color: #000!important;
    color:#6d24ff;
    padding: 35px 75px;
    position: relative;
    border-right: 3px solid #8ae66e;
    clip-path: polygon(
      -15px 0%,
      calc(100% + 15px) 0%,
      calc(100% + 15px) 100%,
      20px 100%,
      -15px calc(100% - 35px)
    );
    cursor: pointer;
    background-color: var(--background-color);
    outline: none;

  }

#plu h2, #fourth h2, #mainheader h2, #doclist h2, #teamsec{
  color: #00ff00;
  background-color: #000!important;
  padding:1.4rem;
    position: relative;
    border-right: 3px solid #8ae66e;
    clip-path: polygon(
      -15px 0%,
      calc(100% + 15px) 0%,
      calc(100% + 15px) 100%,
      20px 100%,
      -15px calc(100% - 35px)
    );
    background-color: var(--background-color);
    outline: none;
}
  #mainheader h2:hover, #theme5:hover, #fourth h2:hover, #plu h2:hover, #main-doc h3:hover, #fourth h2:hover, #doclist h2:hover, #teamsec:hover{
    color:yellow;
  }
  #mainheader h2{
    padding-top: 4rem;
    margin-top: 0;
  }
.main-section p{
  padding: 1rem;
}
.boccaccio{
  color:#6d24ff;
}
.boccaccio:hover{
  color:#00ff00;
  background-color: #6d24ff;
}
#mainheader h5, #mainheader h4{
  padding-bottom: 1.5rem;
  text-align: center;
  color:#6d24ff;
  background-color: #00ff00;
  border-radius: 50px;
}
#mainheader h5:hover, #mainheader h4:hover{
  box-shadow: 2px 5px 10px 5px #6d24ff;

}
div.main-body {
  display: grid;  
  grid-template-areas: "navbardoc mainContent";
  grid-gap: 1rem;
}

nav#navbardoc {
  grid-area: navbardoc/navbardoc/navbardoc/navbardoc;
  background-repeat: repeat;
  position: fixed;
  padding-top: 2rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 37em; 
  margin-top: -0.5rem;
  margin-left: -2.9em;
  font-family: 'tomorrow';
}
 
nav#navbardoc a, #peoples-tab, #places-tab, #events-tab, #concepts-tab, #opinions-tab, a .dropdown-item, .dropdown-toggle.show{
  display: block;
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  text-decoration: none;
  color: black;
  padding: 5px 2%;
  border: 2px solid var(--grey2);
  border-radius: 50px;
  
  align-self: center;
  text-align: center;
  
  transition: all ease-out 0.5s; /* for smooth transitions when cursor leaves the button */
 
  width: 100%;
  max-width: 100%;
}
#navbardoc .nav-link, a .nav-link, #list .nav-item{
  background-color: #6d24ff;
  color:#00ff00;
}
#navbardoc .nav-link{
  font-size: 1.4em;
}
#nav
.col-sm{
  padding:1.5rem;
}
.col-sm h3{
  color:#6d24ff!important;
  background-color: #00ff00;
  border-color: #6d24ff;
}
.col-sm h3:hover, .modal-title:hover, #navbardoc .nav-link:hover{
  box-shadow: 2px 5px 10px 5px #00ff00;
}

#navbardoc .nav-link:hover, a .nav-link:hover, .col-sm h3:hover, li .nav-item:hover{
  box-shadow: 2px 5px 10px 5px #00ff00;
  color:#6d24ff!important;
  background-color: #00ff00;
  border-color: #6d24ff;
}
.col-sm#list, .main-body #navbardoc{
  background-image: url(../../images/vomit.webp);
}
#main-doc a{
  color:#6d24ff;
}
main#main-doc {
  grid-area: mainContent;
  padding-left: 17em;
}
#main-doc h3{
  font-size: 3rem;
}
.main-section{
  background-color: #00ff00;
}
.main-section p, .main-section blockquote{
  color: #6d24ff;
}
.breakdoc{
  display:none;
}
.alertspeak{
  display:none;
}
.vaigiu{
  padding:2rem;
}
/*END DOCUMENTATION*/
