/* @import "/typetravel/styles/themes/components/dropdown.css";
@import "/typetravel/styles/themes/components/sizingNavbar.css"; */
/* @import "/typetravel/styles/home.css"; */
/*Importing Black Plague fonts*/
#main-title-col{
  visibility: hidden;
}

@font-face {
  font-family: 'canterbury';
  src: url(../fonts/Canterbury.ttf);
}

@font-face {
  font-family: 'scribish';
  src: url(../fonts/scribish.ttf);
}

@font-face {
  font-family: 'old';
  src: url(../fonts/OldeEnglish.ttf);
}
/*Highers the Responsiveness of the web page*/
* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body{
  font-family: 'old', sans-serif;   
  max-width: fit-content;
  min-width: fit-content;                           
}
/*disclaimer style start*/

.modal-dialog{
  max-width: 100vh;
}

.modal-title{
  font-family: 'old';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  color: #bab1a0;
  margin-top: 0!important;
  background-color: inherit;
}
.modbod{
  font-size: 2rem;
  font-family: 'canterbury';
  /* text-align: center; */
  padding: 1rem;
  font-weight: 100;
  color:#5b181f;
  background-color: #bab1a0;
}
#disclaimer{
  background-image: url(../../images/peste.png);
}

#refer li a{
  color:#5b181f;
}
a{
  color:#30302e;
}
a:hover{
  color:#40171b;
}
.btn-close{
  text-align: left;
  background-color: #30302e;
  color: #40171b;
  font-family: 'scribish';
  border-color: #40171b;
}
.btn-close:hover{
  background-color: #40171b;
  color:#30302e;
}
.modal-header, .modal-footer{
  background-color:#5b181f;
  color: #bab1a0;
  font-size: x-large;
}
.btn-secondary{
  background-color: #bab1a0;
  color: #40171b;
  font-family: 'scribish';
}
.btn-secondary:hover{
  background-color: #40171b;
  color:#bab1a0;
}
#model{ 
  background-color: #260d0e;
  color: #9b3139;
  font-family: scribish;
}
/*disclaimer end*/
/*navbar start*/
#navbar{
  font-family: 'canterbury', serif;
    /* text-transform: lowercase; */
    background-color:#40171b;
    color:#bab1a0;
    width:100%;
    cursor:pointer;
    list-style: none;
}
#navbarNavDropdown{
  color:#bab1a0;
  background-color: #40171b;
  text-align: center;
}
.nav-item, .nav-link, #navbarDropdownMenuLink, li .nav-item{
  font-size: 2rem;
  color:#bab1a0!important;
  border: 2px 2px ridge #bab1a0;
} 
#navbarDropdownMenuLink, #nav-active-link, .nav-item nav-link{
  color:#bab1a0;
}
.dropdown-toggle{
  color:#bab1a0;
}
.dropdown-menu:hover{
  border-color: #5b181f;
  color:#30302e;
}
.dropdown-menu{
  background-color: #40171b;
  background-size: 12em!important;
  min-width:10em;
  color:#bab1a0;
}
.dropdown-item{
  color:#bab1a0;
  cursor:pointer;
}
li .dropdown-item{
  font-size: 2rem;
}
/*navbar end*/

/*start index.html*/
/*first content row*/
#main-title{
  opacity: 0;
  /* fade in */
  -webkit-animation: fadeinout 6s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinout 6s;
  /* Firefox < 16 */
  -ms-animation: fadeinout 6s;
  /* Internet Explorer */
  -o-animation: fadeinout 6s;
  /* Opera < 12.1 */
  animation: fadeinout 6s;
}
#first{
  background-color:#d1bdab;
  color:#5b181f;
  background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
}
.cyberpunk, .walls, #main-title-col, #main-title-col2{
  display:none;
}
.container-fluid{
  padding-right:0;
  padding-left:0;
  margin: 0;
}
.row{
  margin: 0;
}
.row{} mt-4{
  margin-top: 0;
}

#first h1{
  padding-top: 16vh;
  text-transform: uppercase;
  color: #5b181f;
  text-align: center;
  font-weight: 500;
  font-size: 8rem;
  font-family: 'old';
  letter-spacing: 0.2rem;
}
h1:hover{
  color: #40171b;
}
.title {
  margin: 0;
  position: relative;
  letter-spacing: -.12em;
  color:#bab1a0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
}

/*title effect*/
.drop {
  width: .1em; height: .1em;
  border-radius: 0 100% 100% 100%;
  background-color: #5b181f;
  position: absolute;
  top: 72%;
  animation: drop 6s infinite both;

  &:nth-child(1) {
    left: 14%;
  }

  &:nth-child(2) {
    left: 39%;
    animation-delay: -.4s;
  }

  &:nth-child(3) {
    left: 55%;
    animation-delay: -1.5s;
  }

  &:nth-child(4) {
    left: 82%;
    animation-delay: -.8s;
  }

  &:nth-child(5) {
    left: 95.5%;
    animation-delay: -1.3s;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(120%) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-in;
  }
  80%, 100% {
    transform: translateY(60vh) scaleX(.85) rotate(45deg);
  }
}



#first #travel{
  margin-left: -1rem !important;
}

#first h2{
  font-size: 5vh;
  padding-bottom: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color:#5b181f;
}
h2{
  font-family: 'scribish', serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  color: #bab1a0;
  /* font-size: 10vh; */
  font-weight: 600;
  font-size: 3rem;
}

/*start content description*/
#project-description{
  font-size: 4vh;
  padding-top: 2vh;
  text-align: center;
  color: black;
  padding-bottom: 2rem;
}

/*end content description*/

/*start project text*/
#icon{
  padding: 10vh;
  margin: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center !important;
  text-decoration: none;
}
#get-started-btn-1{
padding-top: 4rem;
display: none;
}
/*end first row*/
.filtro{
  display:none;
}
/*start second row*/
#second{
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-size:100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
  position: relative;
  background-image: url(../../images/peste.png);
  filter:contrast(100%);
}
#second::before{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  background: url(../../images/peste.png);
}
#about-proj{
  text-align: center;
  font-size: 5vh;
}
#short{ 
  color: #bab1a0;
  text-align:center;
  margin-left:3rem;
  margin-right: 3rem;
}

#topp{
  text-align: center;
}
.btn-lg{
  background-color: #40171b;
}
.btn-lg:hover{
  background-color: #000;
  color:#bab1a0;
}
/*topics and themes buttons*/
#btn-themes{
  background-color: #260D0E;
  color:#bab1a0;
}
#btn-themes:hover{
  background-color:#260D0E;
  color: #5b181f;
}
#btn-issues{
  color:#260d0e;
  background-color: #bab1a0;
}
#btn-issues:hover{
  background-color: #bab1a0;
  color: #5b181f;
}
#btn-issues, #btn-themes{
    font-family: 'scribish', serif;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-size: 4vh;
    margin-top: 2rem;
    text-align: center;
    display: inline-flex;
    margin-left: auto;
  }
/*end of second section*/

/*start of third section*/
#third{
  background-color: #40171b;
  font-size: 5.5vh;
  padding-top: 3rem;
}

#gothird{
  background-color: #000000;
  margin-left: 10rem;
}


/*themes-text is in the 4th section, while third is in the 3rd, but they have common styles*/
#themes-text{
  text-align: center;
  font-size: 1.8rem;
  color:#bab1a0;
}


#theme5:hover, #model:hover, #mode:hover{
  background-color: black;
  color: #bab1a0;
}
#theme5{
  width: 10em;
  text-align: center;
  background-color: #40171b;
  color: #bab1a0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  font-family: 'scribish';
  border-color: #bab1a0;
}
#issue-text{
  padding: 0 10rem 0 10rem;
  text-align: center;
  color: #bab1a0;
  margin-top: 1rem;
}

/*end third section*/

/*start fourth section*/
#fourth{
  background-color:#bab1a0;
  padding-top: 3rem;
  background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
}

#fourth h2{
  color: #40171b;
  padding-bottom: 2rem;
}
#fourth h2:hover{
  color:#5b181f;
}

/*end fourth section**/

/*start polaroid*/
.polaroid-container {
  padding-left: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.polaroid {
  width: 80%;
  background-color: #4c1a1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border: 2px 2px ridge #bab1a0;
}

.polaroidimg {
  width: 100%;
  object-fit: cover;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
}
.polaroid-container .polaroidimg:hover {
    opacity:0.2;
    transition: .5s ease;
    filter: sepia(80%)
}
.polartext {
  text-align: center;
  font-weight: 900;
  color: #bab1a0;
  font-family: 'canterbury';
}
.polartextcomm {
  text-align: center;
  font-size: 24pt;
  color:#bab1a0;
}
.polaroid p{
  color:#bab1a0;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.03rem;
}
/*end polaroid*/

/*start footer*/
footer{
  background-color: #40171b;
  font-family: 'canterbury';
  color:#bab1a0;
  text-align: center;
  font-weight: 100;
  position:sticky;
}  
.fabvit{
color:#bab1a0;
}
.fabvit:hover,.fabvit:active{
  color: #bab1a0;
}

footer p, #cop, #copy, #copp{
  font-size: 1.5rem ;
}
footer p{
    text-align: center;
    padding-left: 0;
    font-weight: 100;
    margin-bottom: 0.1vh;
    box-align:center;
    padding-top: 0.8rem;
}
#footer{
  position: sticky;
  width: 100% ;
  text-align: center;
  border: none;
  /* box-align: center; */
}
#copia{
    text-align: center;
    padding-bottom: 1.5rem;
}
/*end footer*/
/*end index*/

/*start topic1*/
/*start document list*/
#doclist{
  margin: 0;
  text-align: center;
  width:100%;
  padding-top:4rem;
  background-image: url(../../images/peste.png);
}

/*end doclist*/

/*start matadata*/
.sticky-top{
  padding-top:2rem;
  text-align: center;
}
#checkb{
  background-color: #40171b;
  color:#bab1a0;
  z-index:1;
}
label{
  font-size: x-large;
  font-family:'scribish';
  color:#260D0E;
  cursor: pointer;
}
  
label:hover{
  color:black;
}
.bann{
  padding: 1rem;
}

.form-check-inline{
  border-width:0.2rem dotted #260d0e;
  padding-top: 1rem;
  color:#bab1a0;
}
#peop, #plac, #eve, #conce, #oppi{
  background-color: #bab1a0;
}
#peop:hover, #plac:hover, #eve:hover, #conce:hover, #oppi:hover, #peop:active, #plac:active, #eve:active, #conce:active, #oppi:active{
  background-color: #5b181f;
  border-color: #bab1a0;
}
input[type="checkbox"]{
  color:#bab1a0;
}
.btn-default{
  color:#bab1a0;
}
.btn-default:hover{
  color:#bab1a0;
}
#sti{
  padding-top:100px;
}

.space{
  padding-bottom:2rem;
}
#asides-tab, #speeches-tab ,#quotes-tab ,#concepts-tab,#opinions-tab, #peoples-tab, #places-tab, #events-tab, #short, #issue-text, #themes-text{
  font-size: 1.3rem;
  font-family:'canterbury';
  border-color:#40171b;
  border-style: double;
  border-width: 0.3rem;
  background-color: #260D0E;
}
#asides-tab:hover, #speeches-tab:hover ,#quotes-tab:hover ,#concepts-tab:hover,#opinions-tab:hover, #peoples-tab:hover, #places-tab:hover, #events-tab:hover{
  background-color: #000;
}

.tab-content{
  overflow-y:scroll;
  height:250px;
}
#metado{
  background-color: #bab1a0;
  background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
}
.space{
  padding:2rem;
}
#file{
  overflow-y: scroll;
  height: 800px;
}
#file2{
  overflow-y: scroll;
  height: 800px;
}
.main-section p{
  padding: 1rem;
}
/*end metadata style*/

/*start aboutus*/
#teamsec{
  padding-top: 7rem;
  padding-bottom:4rem;
  background-image: url(../../images/peste.png);
}
.overlay{
  display:none;
}
.surv{
  background-color: #30302e;
}
.us{
  max-width:fit-content;
  height: auto;
  text-align: center;
}
.siamo{
  padding-top: 0.1rem!important;
  color:#bab1a0;
}
.slideanim{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
  margin:0;
  padding-bottom: 1rem;
}
.thumbnail{
  margin-bottom: 0rem;
  padding: 0.1rem;
  background-color: #5b181f;
  border-width: 0.01rem;
  text-align: center;
}
.thumbnail p{
  color:#bab1a0;
}
.description{
  font-size:1.5rem;
  font
}
button{
  cursor:pointer;
}
.text-center{
  background-color: #30302e;
}
/*start documentation*/
.containerpadding h2{
  background-image:url('original.gif');
  background-size:100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
  padding-bottom: 4rem;
  padding-top:7rem;
}
.containerpadding{
  margin-top:0;
  padding-top:0!important;
  
}
.doc-img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 20em;
  align-items: center;
  text-align: center;
  height:20em;
}
.main-body{
  background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
}
/*general requirements*/
:root{
    --time-color: black;
    --time-transition: ease-in-out 0.3s;
}

@media (max-width: 768px){
    .btn-third{
        font-size: 3vh !important;
        margin-left: 1rem !important;
    }
    .btn-third:first-child{
        margin-left: 1rem !important;
        padding-top: 1rem;
    }
  }

h3{
  font-family:'scribish';
  color:#30302e;
  padding-top:1rem;
}
.col-sm h3:hover{
  color:#260D0E;
}

 h4{
  border: 4mm ridge #732627;
  color: #bab1a0;
  background-color: #40171b;
  font-size: xx-large;
  font-family: 'canterbury';
}

h4:hover{
  color:#bab1a0;
  background-color: #000;
}

h5{
  font-size: xx-large;
  text-align: center;
  background-color:#260D0E;
  color:#bab1a0;
  margin:0;
}

.col:hover{
  background-color: #000;
  color:#bab1a0;
}
@media (max-width: 992px){
    /*NAVBAR*/
    #navbar .collapse, #navba .collapse, #navb .collapse, #navbi .collapse{
        
        border-top: none;
    }
    #first h1{
        font-size: 8vh !important;
    }
    #first #travel{
        margin-left: -1rem !important;
    }
    #first h2{
        font-size: 3.5vh;
    }
}  


@media (min-width: 768px) and (max-width: 992px){
    #about-proj p{
        font-size: 3vh;
    }
    .issue-description{
        font-size: 2.5vh !important;
        padding-bottom: 0.5rem !important;
    }
}


@media (min-width: 992px) and (max-width: 1200px){
    .issue-description{
        font-size: 2.5vh !important;
        padding-bottom: 0.5rem !important;
    }
}


/* Addded by ahsan */



.text-people {
  background-color: #ffddff;
}

.text-place {
  background-color: #ddffdd;
}
.text-event {
  background-color: #ffffdd;
}

.text-concept {
  background-color: #4d4451;
}

.text-opinion {
  background-color: #377c50;
}

.animate {
  animation-name: bgcolor ;
  animation-duration: 0.75s ; 
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes bgcolor {
  from { background-color: #ffffff;  }
  to { background-color: #cccc00; }
}


img {
  width: 100%;
  border-radius: 10px;
}


.btn-group-toggle{

  padding-top: 10px;
text-align: center;

}

/* .row .white{
  background-color: white;
}

.col-md-12 .tess{
  text-align:center;
} */

/* SELECTOR */

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  
}
.fab-container:hover {
  height: 100%;
}
.fab-container:hover .sub-button:nth-child(2) {
  transform: translateX(-14vh);
}
.fab-container:hover .sub-button:nth-child(3) {
  transform: translateX(-28vh);
}
.fab-container:hover .sub-button:nth-child(4) {
  transform: translateX(-42vh);
}
.fab-container:hover .sub-button:nth-child(5) {
  transform: translateX(-56vh);
}
.fab-container:hover .sub-button:nth-child(6) {
  transform: translateX(-70vh);
}
.fab-container:hover .sub-button:nth-child(7) {
  transform: translateX(-84vh);
}
/* .fab-container:hover .sub-button:nth-child(6) {
  bottom: 1vh;
  transform: translateX(-12vh);
} */

.fab-container .fab {
  position: relative;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  z-index: 2;
}
.fab-container .fab::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 6vh;
  width: 6vh;
  background-color: inherit;
  
 
  border-radius: 0 0 10px 0;
  z-index: -1;
}
.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.fab-container .sub-button:hover {
  cursor: pointer;
}
.fab-container .sub-button .material-icons {
  padding-top: 6px;
}

.fab-content{
  background-image: url("../../css/images/theme.png");
  background-size: 8vh;
  background-repeat: no-repeat;
  background-position: center center !important;
 
}

.sub-button:nth-child(2){
  background: url("../../css/images/plague.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;

}

.sub-button:nth-child(3){
  background: url("../../css/images/colonization.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(4){
  background: url("../../css/images/wallstreet.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(5){
  background: url("../../css/images/coldwar.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(6){
  background: url("../../css/images/cons.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-button:nth-child(7){
  background: url("../../css/images/alien.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.fab-content, .fab-shadow, .sub-button, .fab{
  background-color: white!important;
  filter:contrast(100%);
  filter: invert(100%);
}

.sub-button:hover{
  background-color: #bfe8e4!important;
}

/* .fab-container #enable-future:hover{
  background: url("/typetravel/images/Future/g25.gif") !important;
  background-size: 12vh !important;
} */

/* .sub-button:nth-child(6){
  background: url("/typetravel/images/icons/default-icon.png");
  background-size: 5vh !important;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 6vh;
  text-decoration: none !important;
  height: 8vh !important;
  width: 8vh !important;
  right: 3vh !important;
} */

/* .fab-container:hover{
  background-color: #83c0cf !important;
}

/*START DOCUMENTATIO*/
.containerpadding {
  padding-top: 1.5rem;
}
.boccaccio{
  color:#6d24ff;
}
.boccaccio:hover{
  color:#00ff00;
  background-color: #6d24ff;
  }
div.main-body {
  display: grid;
  grid-template-columns: minmax(300px , auto)1fr;   
  grid-template-areas: "navbardoc mainContent";
  grid-gap: 20px;
}
 
nav#navbardoc {
  grid-area: navbardoc; 
  padding-bottom: 3rem;
  background-image:url(../../images/peste.png);
     
}
#mainheader h2{
  color:#bab1a0;
  background-image: url(../../images/peste.png);
  margin:0;
}

nav#navbardoc a {
  font-size: x-large;
  font-weight: 800;
  display: block;
  border: 0.07rem solid black;
  padding: 5px;
  margin: 10px 0;
  color:#bab1a0;
  background-color: #40171b;
  font-family: 'canterbury';
  color: black;
}
.main-body{
  margin:0;
}
nav#navbardoc a:hover{
  background-color: #000;
}
#navbardoc p{
  font-size: 2rem;
}

main#main-doc {
  grid-area: mainContent;
  background-color: #bab1a0;
  margin-bottom: 0;
}
.alertspeak{
  display:none;
}


/*END DOCUMENTATION*/
