

/* Button and footer */
@font-face {
  font-family: 'canterbury';
  src: url(../fonts/MKBritishWriting.ttf);
  /* src: url(../fonts/British_Script.ttf); */
}


/* body headings */
@font-face {
  font-family: 'carolingia';
   src: url(../fonts/MKBritishWriting.ttf);
   /* font-weight: bold; */
  /* src: url(../fonts/British_Script.ttf); */
 
}


/* body paragraphs */
@font-face {
  font-family: 'scribish';
  src: url(../fonts/Lord_British.otf);
 
}


/* SIZE RELATIVE */
@media (min-width: 768px) and (max-width: 992px){
  #about-proj p{
      font-size: 3vh;
  }
  .issue-description{
      font-size: 2.5vh !important;
      padding-bottom: 0.5rem !important;
  }
}


@media (min-width: 992px) and (max-width: 1200px){
  .issue-description{
      font-size: 2.5vh !important;
      padding-bottom: 0.5rem !important;
  }
}



/* INDEX PAGE CSS */
body{
  font-family: 'carolingia', sans-serif;                                
}


.glitch-bloc{
  font-family: 'scribish', serif;
}

.d-grip{
  font-family: 'scribish';
}

#disclaimer, #disclaim, #discl, #dis{
  background-image : url(../images/paper.jpg);
 
  justify-content: center;
  text-align: center;
  
  
  /* background-color: #eeebcf; */
}
.modal-dialog{
  max-width: 100vh ;
}
.modal-title{
  font-family: 'scribish';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  /* text-align: center;
  justify-content: center;
  display: flex; */
}
.modbod{
  font-size: 2rem;
  font-family: 'canterbury';
    /* text-align: center; */
  margin: 1rem;
  font-weight: 100;
  color:#260d0e;
  background-image : url(../images/paper.jpg);
  
  /* background-image : url(../images/dropscroll.png);
  background-repeat: no-repeat;
  background-size: 650px 1000px; */


  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* .modbod:hover{
  
  background-color: white;
} */


.modal-header, .discl-basic .modal-footer{

  background-image : url(../images/paper.jpg);
  
  /* background-color: #E0C9A6; */
}
/* .modal-footer, .btn{
  background-image : url(../images/paper.jpg);

}
   */

.modal-footer{
  background-image : url(../images/paper.jpg);

/* border: none;
color:#000000; */
}
  

#refer, #refe, #ref, #refr{
  font-family:'canterbury';
  color:#260d0e;
  font-size: x-large;
}
button{
  cursor:pointer;
}
#butto, #butt, #but, #buttn{
  font-family:'scribish' ;
  color: black;
 background-color:#886B41;

  
}
#butto:hover, #butt:hover, #but:hover, #buttn:hover{

  background-color:#cba672;
}

/* .container-fluid:hover, #butto:hover, #but:hover, #butt:hover, #buttn.hover, .row:hover, #met:hover, #uno:hover, #tett:hover, #metto:hover{
  background-color: #8d353c;
  color:#260d0e;
} */

.container-fluid{
  padding-right:0;
  padding-left:0;
  margin-left: 0;
  margin-right:0;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
#tett{
  background-color: #732627;
  text-align: center;
  padding-top: 2rem;
  margin: 0;
}
#about-proj{
  text-align: center;
  font-size: 3.5vh;
  color: white;
}

#about-proj:hover{
color:#260d0e;
}
h2{
    font-family: 'scribish', serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
    color:black;
    /* font-size: 10vh; */
    font-weight: 600;
}
h2:hover, h3:hover{
  color: #856d4b;
}
.link{
  color: #856d4b;
}

/*LINKS, SELECTION, CODE*/

.change:hover{
  color:#9b3139;
}

/*NAVBAR*/
#navbar, #navba, #navb, #navbi{
  font-family: 'canterbury', serif;
    /* text-transform: lowercase; */
    font-weight: 300;
    background-image : url(../images/kindpng_726689.png);
    background-repeat: no-repeat;
    background-size: 95em 100%;
    
    /* background-color:#d2a365; */
    /* width:100%; */
    cursor:pointer;
}




.nav-item, .nav-link, #navbarDropdownMenuLink, #navbarDropdownMenuLi, #navbarDropdownMenuL, #navbarDropdownM{
  font-size: 2rem;
  color:black !important;
} 


#sentenceTab > .nav-item > .active {
  background-color: transparent !important;
  /* color:transparent !important; */
}

/* #sentenceTab > li > a:active{
  
  background-color: #000 !important;

} */


/* .nav-link:active{
  background-color: #000;
} */

#pur{
  padding:2rem;
  margin-top:2rem;
}
#short{ 
  color:black;
  text-align:center;
  margin-left:3rem;
  margin-right: 3rem;
}
#short:hover{
  color:#260D0E;
}
/*FIRST*/
#first{
  
   
  /* background-color: #cccccc ; */
  background-image : url(../images/paper.jpg);
  border-style:outset;

}

#first h1{
    padding-top: 16vh ;
    text-transform: uppercase;
    /* color: #260d0e; */
    text-align: center;
    font-weight: 500;
    /* font-size: 16vh; */
}

#first #travel{
    margin-left: -1rem !important;
}

#first h2{
    /* font-size: 5vh; */
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    color:#000000;
}

#project-description{
    font-size: 4vh;
    padding-top: 2vh;
    text-align: center;
    color: #000000;
    padding-bottom: 2rem;
}
#project-description:hover{
  color:#260d0e;
}

#icon{
    padding: 10vh;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center !important;
    text-decoration: none;
}
#get-started-btn-1{
  padding-top: 4rem;
  display: none;
}
/*SECOND*/
#second{
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
  /* padding-bottom: 25em; */
  
}

#btn-themes{
  
  color:#260d0e;
  background-color: white;
  /* border-radius: 50%; */
}


#btn-issues{
  color:#260d0e;
  background-color: white;
}
#btn-issues:hover, #btn-themes:hover{
  padding-top: 4rem;
  /* color: black; */
  height: 12rem;
  width: 12rem;
  font-size: 1.2rem;

}
#btn-issues, #btn-themes{
   /* background-image : url(../images/stamp.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-color: inherit;


   font-family: 'scribish', serif;
    border-radius: 50%;
  
    text-transform: uppercase;


  height: 10rem;
  width: 10rem;

  border: none;
  color: white;

  font-size: 1rem;

  opacity: 0.9; */

  text-align: center;
  background-image : url(../images/stamp.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  font-family: 'scribish', serif;
  border-radius: 50%;
  text-transform: uppercase;
  height: 10rem;
  width: 10rem;
  border: none;
  color: white;
  font-size: 1rem;
  padding-top: 3.5rem;
  padding-left: 1.2rem;
  opacity: 0.9;

  }

/* #btn-issues span, #btn-themes span {
    display: block !important;
    padding-top: 3rem;
    text-align: center !important;
    line-height: 1em !important;
} */
#topp{
  text-align: center;
}
.c-right {
 color:black;
 font-size: 1.8rem!important;
 border-color: #260D0E;
}
.c-right:hover{
  color:white;
}

/*THIRD*/
#third{
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
    /* background-color: #4c1a1b; */
    font-size: 5.5vh;
    padding-top: 3rem;
}

#gothird{
    background-color: #000000;
    margin-left: 10rem;
}
#the:hover{
  background-color: white;
  color:#260d0e;
}

#second{
  padding-bottom: 3rem;
  padding-top: 3rem;
}
#third p{
    /* padding: 0.5rem 2rem 0.5rem 2rem!important; */
    font-size: 2.5vh;
    text-align: center;
}
/* .bann{
  border-style: dotted;
  padding-top: 5rem;
} */






#themes-text{
  margin-top: 1rem;
}
#third #themes-text{
    /* margin: 1rem 0 1rem 0; */
    color:#260d0e;
    font-size: x-large;
}
#third:hover, #themes-text:hover{
  color:#000000!important;
}

#gofourth{
  
  color:#260D0E;
}
.about-content{
  padding-top: 8rem;
  padding-bottom: 5rem;
  background-color: #4c1a1b;
  margin-top: 0;
  display: flex;
}
#fourth{
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
    /* background-color: #4c1a1b; */
    font-size: 5.5vh;
    padding-top: 3rem;
}

#fourth h2{
  color: black
}
#fourth h2:hover{
  color:#856d4b;
}

#theme1,#theme2,#theme3,#theme4, #theme6, .btn-close{
   
    text-align: left;
    background-color: #260d0e;
    color: #9b3139;
    font-family: scribish;
}
#model, #mode, #mod{ 
  background-color: #260d0e;
  color: #9b3139;
  font-family: scribish;
}
/* #theme1:hover,#theme2:hover,#theme3:hover,#theme4:hover, #theme5:hover, #theme6:hover, #mod:hover, #model:hover, #mode:hover, .sort, .sub:hover{
  background-color: black;
  color: white;
} */
#theme5, .sort{

  text-align: center;
  background-image : url(../images/stamp.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  font-family: 'scribish', serif;
  border-radius: 50%;
  text-transform: uppercase;
  height: 10rem;
  width: 10rem;
  border: none;
  color: white;
  font-size: 1rem;
  padding-top: 3.2rem;
  padding-left: 1.2rem;
  opacity: 0.9;
  
}

#theme5:hover{
  padding-top: 3.7rem;
  color: black;
  height: 12rem;
  width: 12rem;
  font-size: 1.2rem;
}

#issue-text{
    padding: 0 10rem 0 10rem;
    text-align: center;
    font-size: x-large;
    /* color: #260D0E; */
    margin-top: 1rem;
}

/* #issue-text:hover{
  color: #000;
} */
/* #fourth:hover{
  color:#260d0e;
} */


#main-title{
  font-size: 10em;
  font-weight: 400;
  line-height: 1.1;
  color: rgb(0, 0, 0);
  margin-top: 1.5em;
  justify-content: center;
  text-align: center;
  font-family:'scribish' ;
  opacity: 0.7;
}


/* Glitch effect */
/* 
.glitch-bloc{
  font-family: 'scribish', serif;
}


.glitchedAnim,
.invisible-text {
  font-size: 150px;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
  margin-top: 1.5em;
}
.glitchedAnim {
  position:absolute;
  top: 0;
  opacity: 0.9;
}
.invisible-text {
  visibility: hidden;
}
.glitchedAnim:nth-child(2) {
  color: #fc2424;
  animation: skewAnim 3s infinite;
}
.glitchedAnim:nth-child(3) {
  color: #e1b943;
  animation: glitchAnim2 3s infinite;
}
.glitchedAnim:nth-child(4) {
  color: #f1f1f1;
  animation: glitchAnim1 3s infinite;
}

@keyframes glitchAnim1 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(6px, -2px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(-12px, -7px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: translate(10px, -9px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(7px, 5px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes glitchAnim2 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(-6px, 2px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(12px, 7px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  
  43% {
    transform: translate(-10px, 9px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(-7px, 5px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes skewAnim {
  20% {
    transform: none;
  }
  23% {
    transform: skew(5deg, -5deg) translate(10px, 5px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: skew(5deg, -10deg) translate(-5px, 2px);
  }
  46% {
    transform: none;
  }
  100% {
    transform: none;
  }
} */


/* ABOUT US */
#team{
background-image : url(../images/paper.jpg);
border-style:inset;
border-color: #856d4b;

/* padding-top: 50px; */
text-align: center;
padding: 1em;
font-size: 1.2rem;
/* width:100%; */
/* size: fit-content; */
}

.img-fluid{
  height: 22em;
  margin-bottom: 2em;
}


#teamsec{
  margin-top: 3em;
}

.thumbnail{
  border-style: dotted;
  padding: 1em;
  height: 40em;
  /* height: 50px; */
}



/*IMAGES*/

/*FOOTER*/
footer{
  /* background-image : url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: 1500px 200px; */

  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
  /* background-color: #856d4b; */
    font-family: 'canterbury';
    color:black;
    text-align: center;
    font-weight: 100;
    position:sticky;
    padding: 0.5em;
}  
.fabvit{
  color:white;
}
.fabvit:active,.fabvit:hover{
  color: black
}

footer p, #cop, #copy, #copp{
  font-size: 1.5em !important;
  font-weight: 200;
  
  /* margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px; */
}
#form10, #form11{
  background-color: #856d4b;
  color: white;
  width:10rem;
  font-size: large;
  margin:0;
  text-align: center;
  margin: 1.5rem;
}

.addo{
  margin: none;
  display: inline-block;
}
.sub{
  background-color: #856d4b;
  color: #9b3139;
  size: 2rem;
}
.form-control{
  size: 3rem;
  height: 3rem;
}
.md-form{
  background-color:  #856d4b;
  margin:none;
  padding: none;
}
footer p{
    text-align: center;
    padding-left: 0;
    font-weight: 100;
    margin-bottom: 0.1vh;
    box-align:center;
}
#footer-left, #footer, #foot, #footo{
  padding-top: 0.1vh;
  position: sticky;
  width: 100% ;
  text-align: center;
  border: none;
  /* box-align: center; */
}
#copy, #copp, #cop, #copia{
    text-align: center;
    padding-bottom: 1.5rem;
}

.imm{
  width: 30rem;
}

:root{
    --time-color: black;
    --time-transition: ease-in-out 0.3s;
}

@media (max-width: 768px){
    .btn-third{
        font-size: 3vh !important;
        margin-left: 1rem !important;
    }
    .btn-third:first-child{
        margin-left: 1rem !important;
        padding-top: 1rem;
    }
}
#navbarDropdownMenuLink, #navbarDropdownMenuLi, #navbarDropdownMenuL, #navbarDropdownM{
  /* background-color: #9b3139; */
  color:#260D0E;
}

.dropdown-item:hover{
  background-color: #856d4b;
 
}

/* .dropdown-menu:hover{
  background-color: #9b3139;
  border-color: #4c1a1b;
  color:#260d0e;
} */
.dropdown-menu{
  background-image : url(../images/dropscroll.png);
  /* background-size: 240px 45px; */
  background-size: 12em 2.9em;
  background-repeat: repeat-y;

  background-color:#886B41;
  color: #260D0E;
}

.dropdown-item{
  font-size: x-large;
  color:#260D0E;
  cursor:pointer;
}

/* DOCUMENTAION PAGE */

#doclist{
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;

  padding-top: 4em;
  text-align: center;
  width:100%;
  size: fit-content;
  
}
/* #white{
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;

} */
label{
  font-size: x-large;
  font-family:'scribish';
  color:#260D0E;
}

label:hover{
  color:black;
}
#uno{
  width:100%;
  text-align: center;
  margin-top: 0!important;
  padding-top: 8rem;
  padding-bottom: 2rem;
  background-color: #4c1a1b;
  cursor: pointer;
}
h3{
  font-family:'scribish';
  /* color:#732627; */
}

.form-check-inline{
  border-width:0.2rem dotted #260d0e;
  padding-top: 3rem;
}
input[type="checkbox"]{
  color:#732627;
}
#met, #metto{
  text-align: center;
  background-color: #732627;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
#flow{
  display: flex;
  margin-right: 0;
}
.btn-lg{
  background-color: #4c1a1b;
}
.btn-lg:hover{
  background-color: #000;
  color:white;
}
/* .bann{
  padding: 1rem;
} */
.space{
  padding:2rem;
}
#frag, #fragm, h4, #fra, #fratm, #acca{
  border: 4mm ridge #732627;
  background-color: #000;
}
h4{
  color: #260D0E;
  /* background-color: #9b3133; */
  font-size: xx-large;
  font-family: 'canterbury';
}
h4:hover{
  color:white;
  background-color: #000;
}
#fragm, #frag, #fra, #fratm{
  width: 45%;
}
h5{
  font-size: xx-large;
}

#ttx, #ttxt, #tutto, #nulla{
  color: #9b3133;
  font-size: xx-large;
  cursor: all-scroll;
  position: relative;
}

.row{} mt-4{
  margin-top: 0;
}
.space{
  padding-bottom:2rem;
}
.documn{
  color: #732627;
  font-size: xx-large;
}

.col:hover{
  background-color: #9b3133;
}
@media (max-width: 992px){
    /*NAVBAR*/
    #navbar .collapse, #navba .collapse, #navb .collapse, #navbi .collapse{
        
        border-top: none;
        
    }
    #navbar{
      background-image: none;
    }
   
    #first h1{
        font-size: 8vh !important;
    }
    #first #travel{
        margin-left: -1rem !important;
    }
    #first h2{
        font-size: 3.5vh;
    }
}  





/* TOPIC PAGE CSS added by ahsan */

#bann{
  /* border-style: dotted; */
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
  /* z-index: -1; */
  position: relative;
  /* top: 50px; */

}

#bann2{
  /* border-style: dotted; */
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
  position: relative;
  /* z-index: -1; */

}

.text-people {
  background-color: #ffddff;
}

.text-place {
  background-color: #ddffdd;
}
.text-event {
  background-color: #ffffdd;
}

.text-concept {
  background-color: #4d4451;
}

.text-opinion {
  background-color: #377c50;
}

.animate {
  animation-name: bgcolor ;
  animation-duration: 0.75s ; 
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes bgcolor {
  from { background-color: #ffffff;  }
  to { background-color: #cccc00; }
}


.sticky-top{
  padding-top:20px;
  text-align: center;
  width: 100%;
  z-index: 0;
}

#sti{
  padding-top:100px;
  justify-content: center;
  background-image : url(../images/paper.jpg);
  border-style:dotted;
  border-color: #856d4b;
}

#checkb{

  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
  width: 100%;
  margin-left: 0em;
  margin-right: 0em;
 ;
  
}

.tab-content{
  overflow-y:scroll;
  height:8em;
}


#peoples-tab, #places-tab ,#events-tab ,#concepts-tab,#opinions-tab {
  border:none;
  background-image: url(../images/kindpng_726689.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: auto;


  width: 7em;
  text-align: center;

  font-size: 0.5em;
  /* font-size: 2rem; */
  color:black !important;
  text-decoration: none;
 

}

.nav > span {
 margin: auto;
}

/*  */

#peoples-tab:hover,#peoples-tab:focus, #places-tab:hover,#places-tab:focus ,#events-tab:hover,#events-tab:focus ,#concepts-tab:hover, #concepts-tab:focus,#opinions-tab:hover,#opinions-tab:focus{
  width: 10em;
 border:none;
 font-size: 0.5em;
}

/* #sentenceTab::active{
  background-color: #000;
} */
/* #peoples-tab::aria-selected{
background-color: #000;

} */



#file{
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;

  overflow-y: scroll;
  height:  50em;
}

#file2{
  background-image : url(../images/paper.jpg);
  border-style:inset;
  border-color: #856d4b;
  overflow-y: scroll;
  height:  50em;
}

img {
  width: 100%;
  /* border-radius: 1em; */
  filter: sepia(100%);
}


.btn-group-toggle{

  padding-top: 1em;
text-align: center;

}




#list_btn{
  border:none;
  background-image: url(../images/kindpng_726689.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;
  width: 12em;


}

#list_btn:hover,#list_btn:focus {
  width: 14em;
 border:none;
}


/* END TOPIC PAGE CSS */

/* 
SELECTOR CSSS */


.fab shadow{
  background-color: black;
}

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  
}
.fab-container:hover {
  height: 100%;
}
.fab-container:hover .sub-button:nth-child(2) {
  transform: translateX(-14vh);
}
.fab-container:hover .sub-button:nth-child(3) {
  transform: translateX(-28vh);
}
.fab-container:hover .sub-button:nth-child(4) {
  transform: translateX(-42vh);
}
.fab-container:hover .sub-button:nth-child(5) {
  transform: translateX(-56vh);
}
.fab-container:hover .sub-button:nth-child(6) {
  transform: translateX(-70vh);
}
.fab-container:hover .sub-button:nth-child(7) {
  transform: translateX(-84vh);
}
/* .fab-container:hover .sub-button:nth-child(6) {
  bottom: 1vh;
  transform: translateX(-12vh);
} */

.fab-container .fab {
  position: relative;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  z-index: 2;
}
.fab-container .fab::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 6vh;
  width: 6vh;

  
 
  border-radius: 0 0 10px 0;
  z-index: -1;
}
.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color:#886B41 !important;
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color:#886B41 !important;

}
.fab-container .sub-button:hover {
  cursor: pointer;
}
.fab-container .sub-button .material-icons {
  padding-top: 6px;
}

.fab-content{
  background-image: url("../../css/images/theme.png");
  background-size: 8vh;
  background-repeat: no-repeat;
  background-position: center center !important;
 
}

.sub-button:nth-child(2){
  background: url("../../css/images/plague.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;

}

.sub-button:nth-child(3){
  background: url("../../css/images/colonization.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(4){
  background: url("../../css/images/wallstreet.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(5){
  background: url("../../css/images/coldwar.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-button:nth-child(6){
  background: url("../../css/images/cons.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-button:nth-child(7){
  background: url("../../css/images/alien.png");
  background-size: 5vh;
  background-repeat: no-repeat;
  background-position: center;
}

.fab-content, .fab-shadow, .sub-button, .fab{
  background-color: #ba4c43 !important;
}

.sub-button:hover{
  background-color: #e2cb9c !important;
}
/* .fab-container #enable-future:hover{
  background: url("/typetravel/images/Future/g25.gif") !important;
  background-size: 12vh !important;
} */

/* .sub-button:nth-child(6){
  background: url("/typetravel/images/icons/default-icon.png");
  background-size: 5vh !important;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 6vh;
  text-decoration: none !important;
  height: 8vh !important;
  width: 8vh !important;
  right: 3vh !important;
} */

/* .fab-container:hover{
  background-color: #83c0cf !important;
}
 */


 /* END SELECTOR */

/* CSS polaroid ITEM */
.polaroid-container {
  /* align-items: center;
  display: flex; */
  padding-left: 2em;
  /* padding-left: 2em;

  padding-right: 2em; */
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* padding: 2em; */
}

.polaroid {
  width: 80%;
  background-color:inherit;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 2em;
  font-size: 0.5em;
  filter: sepia(100%);
  border-style: dotted;
  /* filter: drop-shadow(8px 8px 10px #886B41 ); */
}

/* {
 cursor:url(../images/pen.png), auto !important;
} */
.polaroidimg {
  width: 100%;
  object-fit: cover;
  height: 12.5em;
  padding: 1em;
  border-radius: 0.62em;
}

.polaroid-container .polaroidimg:hover {
    opacity:0.2;
    transition: .5s ease;
}

.polartext {
  text-align: center;

  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 1em;
}

.polartextcomm {
  text-align: center;
  font-size: 1em;
}

/*END POLAROID*/

/*START DOCUMENTATIO*/
div.main-body {
  display: grid;
  grid-template-columns: minmax(300px , auto)1fr;   
  grid-template-areas: "navbardoc mainContent";
  grid-gap: 20px;
}
 
nav#navbardoc {
  grid-area: navbardoc;
  position: fixed;   
     
}
 
nav#navbardoc a {
  display: block;
  border:  0.0625em solid black;
  padding: 0.3125em;
  margin: 0.62px 0;
  text-decoration: none;
  color: black;
}
 
main#main-doc {
  grid-area: mainContent;
}
 

/*END DOCUMENTATION*/